[2018-07-19 18:57] pindakaas42 commented on #1461
It's actually also mentioned in the documentation. That's how I started doing it in the first place.

[2018-07-19 18:59] hainm commented on #1461
Ha, I see, my bad.

[2018-07-20 08:45] pindakaas42 opened #1462 "iterload prints error messages when told to load empty trajectory"
For API consistency it can be nice to be able to load an empty slice of a trajectory.
The desired action is performed but an error is printed:

import pytraj as pt
from pytraj.testing import get_fn
fn, tn = get_fn('ala3')
pt.iterload(fn, tn, frame_slice=(0,0))

[2018-07-20 10:37] pindakaas42 commented on #1462
Although the empty trajectories seem to cause lots of problems everywhere.
Using above trajectory, for example:
pt.distance(traj[0:0], '@1 @2')
where
pt.distance(traj[0:0], '@1 @2')

[2018-07-20 12:43] hainm commented on #1462
thanks for your suggestion.

[2018-07-20 12:44] hainm commented on #1462
seems that the [0:0] is rarely (and should not be) used.

[2018-09-21 02:26] autodataming opened #1463 "how to remove box information in the trajectory?"
how to remove box information in the trajectory by pytraj?

[2018-10-27 21:44] ehashman commented on #1459
Hello! I'm one of the auditwheel maintainers.

The removal of `xlocale.h` is a red herring---that would only pose an issue at build time. If you're ever curious whether a system library affects a binary wheel's compatibility, [here are all the whitelisted libraries](https://www.python.org/dev/peps/pep-0513/#the-manylinux1-policy) according to manylinux1 policy.

What the error above means is that

[2018-10-27 21:45] ehashman opened #1464 "Please upgrade auditwheel to 1.9"
It looks like auditwheel was pinned a little over a year ago and hasn't been updated. Would you mind bumping the version to 1.9.0 and seeing if that works?

Thanks!

[2018-10-27 21:55] hainm commented on #1464
thanks @ehashman. I will test that.

[2018-10-29 06:12] hainm commented on #1463
hi, sorry for the late reply. (I thought your account is a spammer).
What's your aim of removing the box information?

[2018-10-29 20:32] hainm commented on #1463
hi @autodataming, can you try with below code and let me know if that works for you.

[code]

[2019-01-18 20:37] hainm opened #1465 "Support frame_indices with negative indexing"
[code]

[2019-01-24 01:15] hainm opened #1466 "native_contacts returns wrong result"
From AMBER user:

[2019-01-30 01:31] dprada commented on #1464
Hi!
I tried to overcome the problem with auditwheel installing ambertools 18 with conda. But then I realized that I have to downgrade the environment from Python 3.7 to 3.6. Having a conda package built to be used with Python 3.7 would be great.
Thanks in advance for considering this suggestion.

[2019-01-30 02:06] hainm commented on #1464
thanks. I will work on that.

[2019-02-04 15:56] RMeli opened #1467 "More Explicit RMSD Documentation"
It is not entirely clear from the documentation that `rmsd()` and `symmrmsd()` need the atoms in the same order for the reference structure and the trajectory. If the atoms are not in the same order, the RMSD is computed without warnings/error, but the result is obviously wrong.

I suggest to make this clearer in the documentation or to add a check to verify that the atoms are provided in the same

[2019-02-06 17:40] hainm commented on #1467
@drroe: what do you think?

[2019-02-09 17:32] #1463 closed

[2019-02-09 17:48] #1466 closed

[2019-02-12 02:42] slochower commented on #1464
Hi @hainm , I'm not sure that I'm being blocked by the same dependency, but I also can't get `pytraj` to run on a Travis Python 3.7 environment. Do you have a rough estimate of when you think a 3.7-compatible version will be ready?

[code]

[2019-02-12 03:42] hainm commented on #1464
hi @slochower, both pytraj and ambertools 18 were released before python 3.7 so there are no 3.7 versions yet

pytraj is already included in ambertools (official release hosted in amber server), so you don't need to install pytraj from `ambermd` channel in anaconda server. Sorry for the confusion.

it's pretty easy to get this done on Linux but I got some header file missing issue with new MacOS u

[2019-02-12 04:47] slochower commented on #1464
Got it.

To be clear, are you saying that I should be able to install both `ambertools` and `pytraj` from the  `http://ambermd.org/downloads/ambertools/conda/` channel?

[code]

I think both would be ideal, but Linux support would definitely be welcome :) I personally am not using any Python 3.7 features, but I'm migrating one of my repositories to the [MolSSI cookiecutter](https://github.com/mols

[2019-02-12 05:00] dprada commented on #1464
Thumbs up.

[2019-02-12 05:00] hainm commented on #1464
No. I meant you can just install ambertools from that channel since it already has pytraj. There is no pytraj standalone install in that channel. :D

I personally prefer to install pytraj via pip since it's super quick to do that (it takes time for conda to resolve the conflicting recently).

I see.

PS: Since there are several request for ambertools 3.7 (e.g: https://github.com/openforcefield/ope

[2019-02-14 16:02] RMeli commented on #1467
To clarify, the following code gives a non-zero RMSD
[code]
with the following two PDB files for benzene:
[code]
[code]

[2019-02-15 04:59] hainm commented on #1467
thanks @RMeli, I've opened a new issue in cpptraj repo to see if warning/error should be raised: https://github.com/Amber-MD/cpptraj/issues/667

[2019-02-15 13:35] drroe commented on #1467
This is omitted from the manual because as far as I know most major analysis tools that calculate RMSD between a target and reference require this. In every definition of RMSD (or RMSE) that I have seen, the difference is taken between a reference and target element with the same subscript.

However, there is no harm in making the documentation more explicit. In addition, users can make use of the

[2019-02-15 13:50] RMeli commented on #1467
Yes, I completely understand but it took me a while to realize the problem.  I didn't come across `atom_map`, thank you very much for mentioning this.

It would definitely be helpful to have it mentioned in the documentation (and possibly link to `atom_map`). I can try to do it and open a PR, or let you experts handle it (if agreed).

I'm doing some docking studies as well and some software change

[2019-02-15 13:57] hainm commented on #1467
Hi Rocco,

PR is always welcome.

Cheers

On Fri, Feb 15, 2019 at 8:50 AM Rocco Meli <notifications@github.com> wrote:

[2019-02-18 16:42] #1467 closed

[2019-02-21 03:22] #1461 closed

[2019-02-24 06:24] #1465 closed

[2019-02-24 12:39] drroe commented on #1365
@hainm is this still a problem? If so I will prioritize before next AT release.

[2019-02-24 19:20] hainm commented on #1365
hi @drroe, I repeat the code in https://github.com/Amber-MD/pytraj/issues/1365#issuecomment-286286364 and I do not see the memory leak anymore.

thanks.

[2019-02-24 19:21] #1365 closed

[2019-02-25 12:04] ppxasjsm commented on #1459
Is there any progress on this? I am running into the same problem, but can't really use ambertools as a solution.

[2019-02-25 14:25] hainm commented on #1459
Hi, there is no progress yet.
Why can’t you use ambertools? It’s just ‘conda install’

Hai

On Mon, Feb 25, 2019 at 7:04 AM ppxasjsm <notifications@github.com> wrote:

[2019-02-28 16:57] karlkirschner commented on #1459
Hi,
  I just installed ambertools18 using the above conda commands, but pytraj was not included in the bin directory.
Bests,
Karl

[2019-03-01 13:59] francescalb commented on #1450
Hi, i hvae the same problem. I have made a new python environment (python3.7) separate from the amber installation and wish to add pytraj here. How can I point to the correct folder for cpptraj?

[2019-03-01 14:33] hainm commented on #1450
Do you mean to install from source code? There is no binary distribution
for python 3.7 yet.

For source code compilation, just git clone pytraj repo and “python
setup.py install”, pytraj will handle cpptraj for you.

Hai

On Fri, Mar 1, 2019 at 8:59 AM francescalb <notifications@github.com> wrote:

[2019-03-02 05:31] hainm opened #1476 "Support `xtalsymm`"
https://github.com/Amber-MD/cpptraj/pull/672

[2019-03-04 11:15] francescalb commented on #1450
Thank you. I thought a flag could be set in some way for pip, but installation from source worked perfectly.

[2019-03-05 16:58] hainm commented on #1476
#1477

[2019-03-05 16:58] #1476 closed

[2019-03-13 11:30] drroe opened #1478 "Pytraj needs to handle new disk-cached data sets (CPPTRAJ)"
See related CPPTRAJ pull request [here](https://github.com/Amber-MD/cpptraj/pull/641). DataSet_integer is now a base class for an integer data set that can either be in memory (DataSet_integer_mem) or on disk via NetCDF (DataSet_integer_disk).

[2019-03-13 12:54] hainm commented on #1478
I will address this. Thanks.

[2019-03-14 04:45] #1478 closed

[2019-03-14 04:46] hainm commented on #1478
@drroe  When you make a PR to gitlab for cpptraj, please also include pytraj since pytraj depends on it.

[2019-03-14 12:51] drroe commented on #1478
OK - I'll make sure I update both subtrees. Thanks Hai!

[2019-03-14 13:19] hainm commented on #1478
Thanks Dan.

On Thu, Mar 14, 2019 at 8:51 AM Daniel R. Roe <notifications@github.com>
wrote:

[2019-03-16 05:36] hainm opened #1480 "Support Hausdorff distance calculation"
uhm, I miss this analysis in cpptraj. https://github.com/Amber-MD/cpptraj/pull/664

[2019-03-17 21:38] hainm commented on #1480
https://github.com/Amber-MD/pytraj/commit/913fdfce73a4691469eaa974e51b53425bed5ce8

[2019-03-26 20:24] Juanrong opened #1484 "A question about superpose function of pytraj"
I am trying to align a trajectory to the crystal structure which has the same prmtop file with that trajectory. I only want to use a part of CA as the criterion for alignment. So I use pytraj.superpose(traj,ref,ref_mask). I found when I use all CA as ref_mask it worked well (ref_mask="@CA"). When I want to use the CA of first 200 residues, the result was not correct by using ref_mask=":1-200@CA".

[2019-03-26 22:13] hainm commented on #1484
hi, your syntax seems correct to me. Can you please elaborate how the result was not correct? thanks.

[2019-03-26 22:20] hainm commented on #1484
oh, I think you should just
[code]

`ref_mask` is only useful if you want to align two different sets of atoms from `traj` and from the reference structure.

[2019-03-27 14:30] Juanrong commented on #1484
Thank you. The result was correct by using
 pt.superpose(traj, mask=':1-200@CA')

From your explanation about ref_mask, do I need mask and ref_mask to define that two different sets of atoms if want to to align two different sets of atoms from a trajectory and from the reference structure?

[2019-03-27 14:33] hainm commented on #1484
yeah, you have too. If you only specify `mask`, the `ref_mask` will be the same as `mask` unless you explicitly set it.
One useful case:

[code]

[2019-03-27 14:34] Juanrong commented on #1484
Got it. Thank you so much.

[2019-03-27 14:58] hainm commented on #1484
great.

[2019-03-27 14:58] #1484 closed

[2019-03-27 15:33] #1480 closed

[2019-03-30 05:41] hainm commented on #1464
Dear all, I am sorry for the long delay. I am finally done with few things
- Upgrade auditwheel to v2.0 that makes pytraj work with `Ubuntu 18.04`
- Support python 3.7 (only available via `pip install` or macOS conda; drop support for python 3.4.
    - Due to some compiling issues with conda, python 3.5 release for MacOS is only available via `pip install`.
- Release pytraj v2.0.4 (will be soon re

[2019-03-30 05:42] hainm commented on #1464
In short, I recommend to install `pytraj v2.0.4` via `pip install` (thanks to the amazing work from `auditwheel` folks.

[2019-03-30 05:51] hainm commented on #1459
Dear @Olllom, please try again with pytraj v2.0.4 via `pip install pytraj==2.0.4`. Should work now.
https://github.com/Amber-MD/pytraj/issues/1464#issuecomment-478210141

[2019-03-31 20:35] #1464 closed

[2019-03-31 20:40] dprada commented on #1464
Thanks!

[2019-04-01 19:33] #1459 closed

[2019-04-05 14:02] RMeli opened #1486 "Segmentation fault when loading trajectory without mask"
If I try to load a trajectory without specifying the mask as follows
[code]
I get a segmentation fault:
[code]

However, if a specify a mask (even an empty one), there is no problem:
[code]

I'm working with Ubuntu 18 and I installed `pytraj` using `conda` (in a Python 3.6 environment) as follows:
[code]

[2019-04-05 14:52] hainm commented on #1486
thanks for your report. Can you please try again with the data in pytraj (tz2.nc, tz2.parm7): https://github.com/Amber-MD/pytraj/tree/master/tests/data

[2019-04-05 14:56] hainm commented on #1486
and does this cause segmentation fault too?
[code]

[2019-04-05 15:07] RMeli commented on #1486
The following
[code]
works without segmentation fault, while
[code]
fails as before.

[2019-04-05 15:09] RMeli commented on #1486
Interestingly,
[code]
fails.

[2019-04-05 15:18] hainm commented on #1486
is that possible to share your data (one or few frames)? I have never seen the issue before and don't know how to reproduce it.

[2019-04-05 15:42] RMeli commented on #1486
Yes, but if I load the trajectory with the only working method
[code]
and then save a few frames as required
[code]
everything seems to work fine...
[code]

[2019-04-05 15:47] hainm commented on #1486
ha, that's odd. I bet one of your frames is corrupted.

Can you please try
[code]

[2019-04-05 16:05] RMeli commented on #1486
If I try
[code]
as suggested, no segmentation fault happens (all the indices are printed and all the frame have the correct number of atoms).

Strangely enough, also saving the whole trajectory from `pytraj` makes the problem disappear:
[code]
The saved trajectory `mytraj_pt.nc` is around half the size of the original one.

I'll quickly confirm I can share the whole trajectory and come back to you

[2019-04-09 15:48] hainm commented on #1486
Just for the record: I just got your files offline and I am investigating this.

[2019-04-09 15:55] hainm commented on #1486
Your trajectory has `force` data and the new one does not (default False for writing force).
I think pytraj does not handle slicing the force array properly (but at least we have some clues now).

[2019-04-09 16:26] RMeli commented on #1486
Yes, I realized that the fact that the new trajectory was half the size was due to the forces not being saved. Thank you very much for looking into this.

[2019-04-10 00:34] hainm commented on #1486
should be fixed in #1487

[2019-04-10 01:07] hainm commented on #1486
thanks @RMeli  for bringing this issue to us.

[2019-04-10 15:03] RMeli commented on #1486
No, problem. Thank you for taking care of this so quickly!

[2019-04-10 15:03] #1486 closed

[2019-04-16 09:46] diallobakary4 opened #1488 "Question about PCA?"
I am reading the tutorial on PCA [here](https://amber-md.github.io/pytraj/latest/tutorials/tutorial_pca.html), and I have a question about the frames. Are they ordered as in the input trajectory? In other term can we replace the label "frame #" with its corresponding time?

[2019-04-16 14:12] hainm commented on #1488
Hi, it’s Yes.

[2019-04-16 14:19] diallobakary4 commented on #1488
Thank you

Le mar. 16 avr. 2019 à 16:12, Hai Nguyen <notifications@github.com> a
écrit :

--

Bakary N’tji DIALLO

PhD Student (Bioinformatics) <http://linkedin.com/in/bakarydiallo>, Research
Unit in Bioinformatics (RUBi) <https://rubi.ru.ac.za/>

Mail: diallobakary4@gmail.com |  Skype: diallobakary4

Tel:  +27798233845 | +223 74 56 57 22 | +223 97 39 77 14

[2019-04-19 17:09] #1488 closed

[2019-06-25 16:23] diallobakary4 opened #1489 "Distance between atoms in pytraj"
I am trying to compute the distance between some atoms (a MN atom (index 6601) and some other atoms) in a trajectory and find the closest atoms (in a radius of 3 angstroms).
I am using the [distance function ](https://amber-md.github.io/pytraj/latest/_api/pytraj.all_actions.html#pytraj.all_actions.distance) for that.
But the resulting distances are not very meaningful.
In the output the last line

[2019-06-25 16:46] drroe commented on #1489
Hi,

I'm not as familiar with pytraj syntax so I'm not sure what might be amiss here (although make sure that imaging is not the culprit for shorter-than-expected distances), but I can provide some hopefully useful info from a cpptraj perspective.

If you just need the identity of the atoms you can use the equivalent of the `mask` action of cpptraj (@hainm is the `mask` Action supported by pytraj)

[2019-06-25 17:28] hainm commented on #1489
hi @diallobakary4  the atom index is 0-based  while the atom mask (string) is 1-based.  So
[code]

Or you can use the array-base syntax
[code]

@drroe  not conveniently supported but user can use cpptraj's State
[code]

[2019-06-25 18:06] diallobakary4 commented on #1489
Changing the indices did solve it.
Thank you for your replies.

[2019-06-25 18:07] hainm commented on #1489
great.

[2019-06-25 18:07] #1489 closed

[2019-09-12 08:52] khoroshyy opened #1490 "Error loading examples"
Hi,
I have downloaded examples but when I try to load then I gart the following error. Could you comment on it?

UnicodeDecodeError                        Traceback (most recent call last)
<ipython-input-5-a96c9be003ce> in <module>()
      1 #!ls
      2 import pytraj as pt
----> 3 traj = pt.load('tz2.nc', 'tz2.parm7')

/home/petro/amber18/lib/python2.7/site-packages/pytraj-2.0.5-py2.7-linux-x86_6

[2019-09-17 19:00] khoroshyy commented on #1490
They are.
As I wrote above, error was due to pytraj not being able to read path to file because of "encoding error". Why this error happens I do not know. I guess it is something specific to my system. So I thing it can be closed.

[2019-09-17 19:00] #1490 closed

[2019-09-17 19:07] khoroshyy opened #1491 "Concatenate trajectories?"
Hi.
I have not  found any mailing list or something similar to ask a question. So I post it here.
I know that I can load multiple files into one trajectory, but in my case it does not work because of memory issues. Can I  concatenate two trajectories?
Load one file into trajectory, strip atoms i do not need.
Load another file into another trajectory, strip unnecessary files.
Concatenate two trajec

[2019-09-18 14:22] hainm commented on #1491
hi @khoroshyy

Memory should not be an issue with pytraj if you're using `pytraj.iterload`, which returns an on-disk trajectory.

[code]
Let me know if that helps.

[2019-09-18 14:24] hainm commented on #1491
You can have a look here too: https://amber-md.github.io/pytraj/latest/trajectory.html

[2019-09-18 14:27] hainm commented on #1491
Alternatively, you can specify the `mask` option

[code]

[2019-09-18 14:31] hainm commented on #1491
But going back to  your original question:
[code]

[2019-09-19 08:14] khoroshyy commented on #1491
Thanks.
Iterload does not help me. If I load trajectory using iterload I cannot strip water for example. Mask also does not work with iterload.
The last thing might be the thing I am looking for. But I have not tried it yet.

[2019-09-19 14:26] hainm commented on #1491
have you tried the example in that post yet?
[code]

[2019-09-26 10:53] karlkirschner opened #1492 "cpopvtime is not saving to file"
Hello,

  I am having trouble with the cpopvtime option. When I specify "cpopvtime cpopvtime.agr normframe" in my kmeans cluster, I do not obtain the cpopvtime.agr. No messages are given (ie. no error), so I am not sure what is going on.

  The clustering itself seems to work fine, and all of the other output files are generated. Here is the code that I am using:

cluster_data_ligand = kmeans(prot

[2019-09-26 14:41] hainm commented on #1492
hi @karlkirschner, it sounds like a bug in pytraj (it works fine in cpptraj). I will have a look. cheers.

[2019-09-26 15:12] hainm commented on #1492
hi again, it turns out that the `options` must be a single line (pytraj should handle this better).
Please try again with below example:

[code]

[2019-09-26 15:13] hainm commented on #1492
Nevermind, I don't see the " cpopvtime.agr" either. Uhm, let me dig further.

[2019-09-26 16:09] hainm commented on #1492
I've checked pytraj's code and it turns out that pytraj has not supported writing cpptraj's datafile for clustering yet.

To overcome this, you can either use cpptraj directly, or use pytraj to call cpptraj

[code]

[2019-09-27 09:27] karlkirschner commented on #1492
Hi - thanks for the feedback. It is good to know that I wasn't overlooking
something. I'll modify my jupyter notebook to call cpptraj.
Bests,
Karl

On Thu, Sep 26, 2019 at 6:09 PM Hai Nguyen <notifications@github.com> wrote:

[2019-09-27 11:58] drroe commented on #1492
@hainm is this something that a code change on the cpptraj side can help facilitate for pytraj?

[2019-09-27 13:02] hainm commented on #1492
@drroe: let me look at pytraj’s code first.
By the way, pytraj only call “Analyze” method of Analysis class, so I guess this won’t trigger writing datafile?

Cheers.

[2019-09-27 17:08] drroe commented on #1492
No - to avoid multiple potentially redundant file writes, data file writing is triggered via a call to `CpptrajState::MasterDataFileWrite()` (which calls the write routine for the `DataFileList` class; see e.g. https://github.com/Amber-MD/cpptraj/blob/585842232192a7d2e59cd730f465760a843009a0/src/Exec_RunAnalysis.cpp#L55).

[2019-09-27 17:20] hainm commented on #1492
I see. I guess pytraj won't need to use the `Analysis_[...]` class directly but use the (new) `Exec_[...]`.
This is a chance to clean up pytraj's code. Thanks.

[2019-09-30 03:42] hainm commented on #1492
It turns out it's an easy fix. Please see #1493

[2019-09-30 15:32] #1492 closed

[2019-09-30 15:33] hainm commented on #1492
thanks @karlkirschner  for your report. If you ever want to use `pytraj` for the reported issue, please patch the cluster/__init__.py in here: https://github.com/Amber-MD/pytraj/pull/1493/files#diff-666dccc706a7155273e92106aa021ac8

cheers

[2019-10-08 06:52] karlkirschner commented on #1492
Before I forget, I wanted to say thanks for the work and update.
Bests,
Karl

On Mon, Sep 30, 2019 at 5:33 PM Hai Nguyen <notifications@github.com> wrote:

[2019-10-09 20:12] hainm commented on #1491
I assume your issue is resolved (it not, please reopen it).

[2019-10-09 20:12] #1491 closed

[2019-10-09 20:13] hainm commented on #1457
it's been a while and there is no progress so I close this case. thanks.

[2019-10-09 20:13] #1457 closed

[2019-11-12 16:50] RMeli opened #1494 "ll"

[2019-11-12 17:32] hainm commented on #1494
hi @RMeli. You're right. That's a bug with the on-disk trajectory. Please use
[code]

Example:
[code]

[2019-11-12 17:34] hainm commented on #1494
I think `pytraj` still respect that, your `help.pdb` has only 1 frame

[code]

The only wrong thing is that waters are still there (workaround above).

Thanks again for you report.

[2019-11-12 18:40] RMeli commented on #1494
@hainm, thank you very much for the fast reply and for the workaround. Do I understand correctly that the whole trajectory is loaded in memory with `nowat = traj["!:WAT"]`, even if I want to save a few frames?

`help.pdb` has only one frame because the original frames are separated by a `TER` card instead of an `ENDMDL` or `END` card. There are no waters in `help.pdb`, just the 13 original residue

[2019-11-12 19:16] hainm commented on #1494
Yes, correct. You can try below
[code]
[code]

I see. So this is another bug for the on-disk trajectory.

[2019-11-12 19:18] hainm commented on #1494
Multiple frames

[code]

[2019-11-13 09:51] RMeli commented on #1494
Great, thank you very much for the workarounds!

[2019-11-13 18:51] RMeli commented on #1494
Your workaround seems to work well for test systems, but when I try it on a large trajectory (1.1GB) it performs considerably slower than just loading the whole trajectory:

[code]

Loading the whole trajectory with `pt.load` takes only 3.92s, but trying to load only the ligand in frame 10 takes 4.97s. Loading one frame of the protein with `%time ptraj = itraj["!:LIG,WAT", [9,]]` takes around half

[2019-11-13 19:19] hainm commented on #1494
ha, I think pytraj is not smart enough. `traj[':LIG', [9,]]` -> do the stripping first then slicing.

Can you try with
[code]

[2019-11-14 10:50] RMeli commented on #1494
That's right, I didn't notice that in the documentation they were usually the other way around. Thank you very much for pointing this out.

[code]

However I think there is a deeper problem with `itraj["!:LIG,WAT", [9,]]` since it takes way longer than loading the whole trajectory in memory and then applying a strip operation.

[code]

[2019-11-14 13:51] hainm commented on #1494
it takes way longer than loading the whole trajectory in memory and then
applying a strip operation.

Thanks for investigating this. I will have a look soon. Cheers.

[2019-11-19 10:51] RMeli opened #1495 "Memory leak?"
I'm not sure what's going on, but I noticed that if I try to extract a single frame from an out-of-memory trajectory (multiple times, for multiple trajectories) in order to save it on a separate file, RAM usage steadily increases. Since I'm working with a large data set, this causes the RAM to fill up and the whole application to crash.

This is a MWE that reproduces my problem:

[code]

The traje

[2019-11-19 11:01] RMeli commented on #1495
If I break the loop manually (with `ctrl-C`) the RAM is not freed. It's not freed if I set `traj` or `protein` to `None` or if I explicitly delete such variables (after manually breaking the loop). The RAM is only freed when I exit the Python interpreter (`ipython`).

[2019-11-19 15:24] hainm commented on #1495
It looks like a (another) bug. Thanks for reporting and I really appreciate it.

[2019-11-19 16:54] RMeli commented on #1495
No problem! Please let me know if I can be on any help solving the issue. It is a major blocker in the pipeline I'm working on at the moment and therefore I'm very keen to help fix it, if possible.

[2019-11-19 17:02] hainm commented on #1495
ok, I can make this my top priority.

[2019-11-19 17:11] hainm commented on #1495
@RMeli Does below code help you (using `iterframe`)

[code]

[2019-11-19 17:42] RMeli commented on #1495
Thanks for the help @hainm! Your solution does not seem to solve the problem, unfortunately. The RAM is still increasing constantly when I use it as follows:

[code]

In my pipeline, I need to load multiple different trajectories in sequence (corresponding to the external `while True` loop ) and extract from those a given number of frames which need to be saved in separate PDB files. Something lik

[2019-11-19 17:45] hainm commented on #1495
[code]

Why don't you put the `idxs` in the `iterframe` and try again?

[code]

[2019-11-19 17:55] RMeli commented on #1495
The reason I'm not doing this is related to #1494; I need to be able to save a single frame in a PDB file. Therefore I have to do something like the following:

[code]

I'll try to see if `pt.write_traj` works properly in this particular case, where `st` is a new slice of trajectory and not the original one obtained `pt.iterload`.

[2019-11-19 18:05] hainm commented on #1495
Uhm, in my example `st` is a Trajectory with a single frame corresponding to your each index in `idxs`

[code]

[2019-11-19 21:40] RMeli commented on #1495
Yes, sorry! I was in a rush and did not think that through before replying. I'm now refactoring my pipeline to reflect your last reply.

[2019-11-19 22:14] RMeli commented on #1495
I just tested it with my refactored pipeline and with a simple MWE. Unfortunately, in both cases the RAM usage still increases steadily.

Below is the MWE, which is now very similar to the current pipeline:

[code]

[2019-11-21 21:33] hainm commented on #1495
thanks @RMeli, I could (sandly) reproduce your issue with above code. I will try to investigate or find another (of another) workaround. cheers.

[2019-11-21 21:37] RMeli commented on #1495
Thanks @hainm , your help is really appreciated! I recently started digging into the code as well, I'll report here if I find any suspect for this problem.

[2019-11-21 21:47] hainm commented on #1495
Please see the workaround. Instead of using the `strip` or slicing stuff, just get the atom indices and slice the coordinates directly. :D

[code]

[2019-11-21 22:04] hainm commented on #1495
It turns out that it's `Topology.strip` leaks the memory.

[code]

[This code](https://github.com/Amber-MD/pytraj/issues/1495#issuecomment-557287219) works because the stripped topology is only created once (vs. traj.strip(...) or traj[...] will do the topology stripping).

[2019-11-21 22:08] hainm commented on #1495
In this source code, the topology pointer (to cpptraj's Topology object) points to different object but the pointed object is never be freed. :D

https://github.com/Amber-MD/pytraj/blob/66e181535900dbac6befb357302a3bf8f6c6ceb3/pytraj/topology/topology.pyx#L595

[2019-11-21 22:14] RMeli commented on #1495
Amazing, thank you very much for the help!

It is better to re-write my pipeline with the workaround, wait for a fix of the leak your spotted or provide a fix myself?

[2019-11-21 22:17] hainm commented on #1495
Please do this. Fixing the leak isn't easy IMO. Cheers.

[2019-11-21 23:04] RMeli commented on #1495
Ok, thank you very much again for your help!

I just tested the workaround on my pipeline and everything seems to run with low RAM usage. =)

[2019-11-22 16:11] bradakstx opened #1497 "Slicing a Trajectory to one frame returns a Frame instead of a new trajectory"
Not sure if this is a bug or just unexpected behavior. I want to read in a single frame from a trajectory (the last one, say) and write to a single structure file format. However the following fails:

AttributeError: 'pytraj.trajectory.frame.Frame' object has no attribute 'save'

The same error can also be obtained by:

AttributeError: 'pytraj.trajectory.frame.Frame' object has no attribute 'save'

[2019-11-22 16:27] hainm commented on #1497
True and False
True: traj[0] -> Frame
False: traj[0:1] -> a new Trajectory with a single frame. :D

It's design intention for performance. Cheers.

[2019-11-22 16:30] hainm commented on #1497
[code]

[2019-11-22 16:32] hainm commented on #1497
Alternatively,
[code]

[2019-11-22 16:48] drroe commented on #1495
@hainm Just to be clear is this a pytraj issue or something I need to tackle in cpptraj as well?

[2019-11-22 16:50] hainm commented on #1495
@drroe  it's a pytraj's issue (pytraj does not properly free memory of cpptraj's Topology object). Thanks Dan.

[2019-11-22 17:01] bradakstx commented on #1497
Indeed that works out.

Is there any way to do this via slicing syntax during load() or iterload()? Right now frame_indices has to be whole numbers but I'd love to be able to just directly load the last frame as a single frame trajectory (or maybe that isn't actually faster?).

[2019-11-22 17:01] #1497 closed

[2019-11-22 17:19] hainm commented on #1497
may be this?

[code]

or  this
[code]

[2019-11-22 17:52] bradakstx commented on #1497
That second example gives me the error "Internal Error: Global index -1 is out of range". Maybe a versioning issue? Or a difference in the NetCDF parser?

[2019-11-22 17:56] hainm commented on #1497
I see. You're right. That feature was added recently (I did not recall if I released it or not :D).

https://github.com/Amber-MD/pytraj/pull/1474

[2019-11-22 17:57] bradakstx commented on #1497
Good to know! Thanks for all of the clarifications.

[2019-11-25 13:43] RMeli opened #1498 "Limited number of LIE calls"
I'm trying to compute the LIE for many different trajectories and the execution stops after 500 calls. Is there a limit on the number of LIE calls I'm not aware of?

This is the code that reproduces the problem (the trajectory contains a protein-ligand complex):
[code]

[2019-11-25 13:59] hainm commented on #1498
Hi, can you please check the memory?

There is no limitation for this method. May be it’s another bug.

[2019-11-25 14:02] RMeli commented on #1498
Hi, thank you for the fast reply! I didn't mention the memory because it remains constant during the execution; that's why I opened a new issue instead of appending to #1495.

[2019-11-25 14:03] hainm commented on #1498
Thanks. I will investigate this as soon as I could. Cheers.

[2019-11-25 14:05] RMeli commented on #1498
FYI, this is **not** urgent/critical. Thanks!

[2019-11-25 22:03] hainm commented on #1498
hi @RMeli, it turns out that `pytraj` uses a function call `capture_stdout` to capture `cpptraj` stdout. That function only allows to have 500 calls (Now I know this thanks to you).

Can you please patch that function (below) and try again? thanks.

[code]

[2019-11-25 23:38] drroe commented on #1498
@hainm I'll take a closer look at this tomorrow, but could you put here for posterity what info pytraj needs from stdout? Then let's add it to https://github.com/Amber-MD/cpptraj/issues/177 or create a cpptraj issue for it and I'll try to work on it tomorrow.

[2019-11-26 04:01] hainm commented on #1498
Thanks @drroe. Currently pytraj does not have any specific need from cpptraj. The `capture_stdout` was added so cpptraj's stdout/stderr can be displayed in Jupyter notebook (it does not know how to display the ones from C++).

So cpptraj does not need to do anything. Cheers.

[2019-11-27 10:48] RMeli commented on #1498
@hainm The patch works on the simple example. I'll test it on my main pipeline soon. Thank you for the help!

[2019-12-03 11:32] RMeli commented on #1498
This workaround seems to work as expected, thanks.

[2019-12-04 15:50] dafwb opened #1499 "RMSD_perres according to previous frame as ref"
Hi,
I want to calculate the RMSD of one residue with previous frame as reference. My idea was to use the rmsd_perres() with ref='previous', but this doesn't work. Other option would to call the function via a for-loop, but i am wondering, if there is a more efficient option.
best regards,
Daniel

[2019-12-04 15:53] hainm commented on #1499
hi @dafwb, that feature is not supported (since there's no request for cpptraj previously I guess).

cc @drroe since it's more about cpptraj.

[2019-12-09 19:04] jschiffe-jnj opened #1500 "Issue loading in a trajectory pdb"
Hello,

i'm trying to read in a PDB trajectory. I've written the trajectory from both VMD as well as the mdconvert tool in MDtraj and neither of the outputs are recognized by pt.iterload or pt.Trajectory. Iterload is saying that there are no atoms, and Trajectory returns an UnboundLocalError that the local variable 'top_' is referenced before the assignment.

[2019-12-09 19:06] hainm commented on #1500
Can you please upload your pdb file (you might need to rename `your.pdb` to `your.pdb.txt` to able to attach and your code here? thanks.

[2019-12-09 19:08] hainm commented on #1500
By the way, why do you need to convert to a PDB trajectory instead of using `.nc` fomat or so on?

[2019-12-20 15:45] cbouy opened #1501 "Support file buffers as arguments for writing files"
It would be nice to be able to pass a file-like object (typically a `StringIO`) instead of a filename when writing a traj:
[code]
In the meantime I know that it is possible to use a `NamedTemporaryFile` from the `tempfile` module, but depending on how the system is configured it might mean that the data is temporarily written to the disk.

[2019-12-20 17:49] hainm commented on #1501
thanks @cbouy for your suggestion. I thought about this too but it's very complicated to implement since `pytraj` is built on top of `cpptraj` C++ code. I think it's doable but we can always use `tempfile` for that (like you said).
The `tempfile` works great since we have been using it in `nglview`: https://github.com/arose/nglview/blob/f8ccf725df2e83cf107fc1ade2f37f00b7a80605/nglview/adaptor.py#L

[2019-12-20 18:05] cbouy commented on #1501
Okay no problem. In the meantime, I found another workaround (for an Amber Restart file to a PDB, but it probably works for other formats). However it requires `parmed`, since it's able to accept file-like objects as argument, and it's much slower. I'll post the piece of code just in case it helps anyone:
[code]

[2020-01-02 17:51] aCompChemist opened #1502 "loading GROMACS trajectory"
I'm having trouble loading a gromacs trajectory. Any help would be appreciated. See the code, error, and files below.

The topology loads correctly, but any trajectory shows up as empty (traj.n_frames=0).

[Archive.zip](https://github.com/Amber-MD/pytraj/files/4016791/Archive.zip)

Thanks,
Joe

[code]

[2020-01-02 18:01] hainm commented on #1502
hi @drroe, do you have any comment on this? Please see error with `cpptraj` below. thanks.

[code]

[2020-01-02 18:11] hainm commented on #1502
hi @aCompChemist, does the `Y2F00.gro` file has the same number of atoms as the `Y2F.top`?

[2020-01-02 18:13] hainm commented on #1502
Both .gro and .trr have `6480` atoms but the `Y2F.top` has only 21 atoms.

[2020-01-02 18:20] hainm commented on #1502
By the way, below code helps your visualization:

![p](https://user-images.githubusercontent.com/4451957/71684116-9058b900-2d62-11ea-81c6-9f408b14d180.png)

[2020-01-02 18:20] aCompChemist commented on #1502
Hi @hainm,

Thanks for the rapid response. I am actually a newbie with gromacs...I've used amber for the past couples years.

I think the topology file, Y2F.top, doesn's explicitly list the solvent molecules, but at the final line of the file it accounts for the number of solvent molecules. This file is used in gmx grompp to preprocess and create the tpr file for input in the actual MD run.

I'm n

[2020-01-02 18:23] hainm commented on #1502
@aCompChemist  Please check my above example :D.

[2020-01-02 21:00] aCompChemist commented on #1502
Yes that helps! Though there is some PBC issues as you can see the edge waters wanting to bond through the whole cell.

I appreciate the help @hainm and thanks for all the great work on pytraj!

[2020-01-02 21:08] hainm commented on #1502
Can you please try `traj.autoimage()` first?

[2020-01-03 01:59] aCompChemist commented on #1502
Yes, just tried. No luck.

It appears that the box info isn't being read into the topology.

<img width="796" alt="Screen Shot 2020-01-02 at 8 57 30 PM" src="https://user-images.githubusercontent.com/59450353/71703474-b0a86800-2da2-11ea-92f4-f7cd533296d0.png">

[2020-01-03 08:58] khoroshyy opened #1503 "Align two molecules within one frame?"
Hi.
I have two protein units in one frame.
Can I align them?
Thanks.
Petro

[2020-01-03 19:50] hainm commented on #1503
May be something like below?

[code]

[2020-01-06 10:53] khoroshyy commented on #1503
Thanks I will give it a try...

[2020-01-06 15:44] hainm commented on #1502
hi @aCompChemist, can you please try to create the box (code below) from `parmed`'s Structure?

[code]

[2020-01-06 16:14] hainm commented on #1501
thanks @cbouy for you example. Just curious, why do you need to write many pdb files (that causes the slowness in parmed)?

[2020-01-06 17:38] cbouy commented on #1501
I'm writing a GUI that monitors ongoing MD simulations, a bit like in [your tutorial](http://ambermd.org/tutorials/analysis/tutorial_notebooks/real_simview/index.html).
Among other things, it displays the structure read from the Amber Restart file. Unfortunately restart files aren't read by `ngl.js` so I need to convert it to a pdb first (and I need to `traj.autoimage()` it before displaying anywa

[2020-01-06 18:29] hainm commented on #1501
thanks. `DaskMD` looks great.

[2020-01-06 19:01] hainm commented on #1501
By the way, I think it's a good idea to create a "fake" route to pass `StringIO` to pytraj via `NamedTemporaryFile`. The implementation would not be great but it's easy and the API seems nicer.

[2020-01-07 10:45] cbouy commented on #1501
The API would look nicer although people might be confused if you do that, thinking it's a `StringIO` but it actually passes a `NamedTemporaryFile` to cpptraj. And I'm not sure a lot of people would use it anyway. Maybe you should just give an example of `NamedTemporaryFile` in the docs ?

[2020-01-23 07:04] khoroshyy opened #1507 "Speed of autoimage?"
Hi.
Hi, I was trying to apply autoimage to a this trajectory..
pytraj.Trajectory, 54500 frames:
Size: 28.277379 (GB)
<Topology: 23213 atoms, 3923 residues, 3035 mols, PBC with box type = ortho>
But it tales ages , I am not even sure if it is working. Is there any way to check progress or speed it up?
Thanks.
Petro.

[2020-01-23 13:00] ecederstrand opened #1508 "Build wheels for Python >=3.8 on Linux"
`pip install pytraj` fails on Python 3.8 with `Detected use of pip; you must set CPPTRAJHOME if there is no cpptraj in the current folder`.

This is because there are no wheel files for cp38 at https://pypi.org/project/pytraj/#files so pip tries to install from source. Can you please upload wheel files for Python 3.8, or release a new version that supports Python 3.8?

On a side note, setup.py che

[2020-01-23 15:41] hainm commented on #1507
Can you try with with just few frames and measure the time?

[code]

Under the hood, it's cpptraj (C++) code so it's already super fast. :D I guess there's something wrong here.

Can you please also try with cpptraj itself? If that's still slow, cpptraj developer can have a look. :D
https://github.com/Amber-MD/cpptraj

[2020-01-23 16:51] hainm commented on #1507
ah, you can try to see the progress here:

https://github.com/Amber-MD/pytraj#demo-interactive-data-exploration-with-jupyter-notebook-httpjupyterorg

[2020-01-24 09:23] khoroshyy commented on #1507
I have tried with 10 frames some time ago but it did not work also. I have not tried cpptraj yet. May be it has the same problem as nglview had, wrong cell data in trajectory. I will have to check.

[2020-01-24 09:28] khoroshyy opened #1510 "residue numbering after striping?"
Hi.
I have stripped from a trajectory everything but residues 201-400.
The residues are shown in nglview with numbers 201-400.
But  when I try to select mask on the stripped residues I have to address them as 1-200. Is it expected behavior?
Thanks.
Petro.

[2020-01-24 10:45] khoroshyy commented on #1507
OK, now after I corrected the unit cell data in the trajectory, the command actually finishes running and does what it has to do quite fast.
I do not understand why the it messes up alpha of the unit cell when loading it. is it problem of my file or of pytraj?
Best.
Petro.

[2020-01-24 16:17] hainm commented on #1507
Can you please use 3rd party software (e.g: `ncdump`  to doublecheck your unitcell data in traj).
I dont think pytraj mutates your data if you don't explicitly tell it.

[2020-01-24 16:19] hainm commented on #1510
hi, yes, that's expected.

[2020-01-27 18:26] khoroshyy commented on #1510
OK. It took me some time to realize it :)

[2020-01-27 18:26] #1510 closed

[2020-01-28 16:34] khoroshyy commented on #1507
If I run ncdump everything  is there.
For example :
cell_spatial = "abc" ;

 cell_angular =
  "alpha",
  "beta ",
  "gamma" ;

 cell_lengths = 51.17, 61.27, 68.64 ;

 cell_angles = 90, 90, 90 ;
}

[2020-01-28 16:37] hainm commented on #1507
do you have any files (toy model) can be uploaded here so I can reproduce your issue? thanks.

[2020-01-28 19:41] khoroshyy commented on #1507
I will make some...

[2020-01-28 21:30] khoroshyy commented on #1503
Works like a charm, just one more question. After realignment, of two structures in nglview widget bonds are formed between close atoms of two different structures. Any way to avoid it?
Thanks.

[2020-01-29 00:49] khoroshyy commented on #1503
Problem with bonds was solved by adding each molecule as a separate trajectory.

[2020-01-29 00:49] #1503 closed

[2020-01-29 10:33] pindakaas42 opened #1511 "Passing a tuple as index to TrajectoryIterator causes memory crash"
Just try with some trajectory iterator traj.

to do:
`traj[(1,)]`

This causes a crash.

This is in version pytraj-2.0.5-py2.7-linux-x86_64.egg from amber

[2020-01-29 11:01] pindakaas42 opened #1512 "TrajectoryIterator: boolean index arraylike does not work"
Giving an array (or a list) with boolean data as an index to a TrajectoryIterator object does not work.
It just returns a Trajectory object with all the frames, regardless of the content of the index array.

Passing an array with boolean dtype as index to a Trajectory object does work though and it only returns the frames that correspond to True in the index array, so I think this is a bug.

[2020-01-30 02:31] wwilla7 opened #1513 "importing Trajectory in load_mdtraj"
I installed pytraj and mdtraj using the following commands:
[code]

and then I ran in a python prompt

[code]

and I got

This seems like an easy fix (from `pytraj import Trajectory` instead of `from pytraj.trajectory import Trajectory`).

Does this also happen for you, and if so, should I open a PR to fix the import statments?
[files.zip](https://github.com/Amber-MD/pytraj/files/4131870/files.zip

[2020-01-30 02:55] wwilla7 opened #1514 "PBC box information not loaded in `load_parmed` function"
I installed pytraj and parmed using the following commands:
[code]

and then I ran in a python prompt

[code]

and I got `None` for unitcells, and a `nan` as my distance.

However, if I try this:
[code]

Using the same structure files, I got unitcells information here and a real distance between these two atoms.

I am not very familiar with trajectory file format, so I am wondering if these are so

[2020-01-30 03:44] hainm commented on #1513
hi @wwilla7, it's a deprecated function and I don't see why pytraj users need to use `load_mdtraj` anymore. My original aim to introduce that function is to read its (`mdtraj`) own HDF5 format.

But thank you for your report. Cheers.

[2020-01-30 03:45] hainm commented on #1514
thanks @wwilla7. We will investigate this issue.

[2020-01-31 18:04] #1513 closed

[2020-02-03 21:29] wwilla7 commented on #1514
Thanks, @hainm. I can use this workaround for my workflow, so this is not urgent to fix. But other users may find it useful.

[2020-02-04 09:54] pindakaas42 commented on #1512
if any more info is needed feel free to ask

[2020-02-04 16:37] hainm commented on #1512
Hi @pindakaas42, sorry for late feedback. I am not sure it's a good idea to support boolean indexing. Can you please provide a use case for it? thanks.

[2020-02-04 22:04] hainm commented on #1511
thank you for your report.

[2020-02-05 09:34] pindakaas42 commented on #1512
You are already supporting it for Trajectory objects.

Use case is my daily work, here is one example:
I am looking at a trajectory of a dna, the backbone angles take certain conformations, that I would like to filter for, so i compute the dihedrals with pt.dihedral, the result is a numpy array so I do :`filtered_result = result[result <50] `
for all these dihedrals, now doing different combinatio

[2020-02-05 14:01] hainm commented on #1512
I think supporting boolean is side effect and it was not in my design.
Thanks for example.

On Wed, Feb 5, 2020 at 4:34 AM pindakaas42 <notifications@github.com> wrote:

[2020-02-12 11:19] pindakaas42 opened #1515 "writing trajectoreis deletes time information"
Using the save method of the Trajectory object as a .nc file sets all time information in eacht frame to zero. (also happens with TrajectoryIterator)
Version: pytraj-2.0.5-py2.7-linux-x86_64.egg

[2020-02-12 15:58] hainm commented on #1515
hi @pindakaas42, can  you please try `pytraj.write_traj` with `time=True`?

https://github.com/Amber-MD/pytraj/pull/1456

[2020-02-13 10:48] pindakaas42 commented on #1515
okay that works, thanks.

[2020-02-14 09:48] pindakaas42 commented on #1512
Maybe also this error message is something you'd want to reconsider,:
`pytraj-2.0.5-py2.7-linux-x86_64.egg/pytraj/trajectory/trajectory.pyc in __getitem__(self, index)
   303         """
    304         if self.n_frames == 0:
--> 305             raise IndexError("Your Trajectory is empty, how can I index it?")
    306
    307         if is_int(index):
`
in numpy for example if you create an array

[2020-02-14 16:06] hainm commented on #1512
thanks for your suggestion.

[2020-02-17 07:28] Manish315 commented on #1450
I was having the same error as **francescalb**   i:e I have made a new python environment (python3.7) separate from the amber installation and wish to add pytraj here. Then I i followed the installation method given in "From source code (hard way - expert only)" from https://amber-md.github.io/pytraj/latest/installation.html.

_git clone https://github.com/Amber-MD/cpptraj
cd cpptraj
bash configur

[2020-02-17 10:01] pindakaas42 opened #1517 "pt.compute 'distance' calcuates nan or zeros with pt.Trajectory"
If I use pt.compute to calculate the distance of a trajectory loaded with pt.Trajectory
`pt.compute('distance :1 :2', traj=tr)`
I get this as a result:
`OrderedDict([(u'Dis_00000', array([0., 0., 0., ..., 0., 0., 0.]))])`
If I use the pt.distance function
`pt.distance(mask=':1 :2', traj=tr)`
It returns:
`
array([4.49308083, 4.86024722, 4.24035067, ..., 5.33574095, 4.32270206,
       5.9003888 ])
`

[2020-02-17 10:02] pindakaas42 commented on #1515
my only question would be why you would want to write zeros instead of the actual time? This should save neither computation time in any relevant way nor disk space, as the file is filled with zeros.

[2020-02-17 15:29] hainm commented on #1515
@pindakaas42  good question. When I introduced the `time=False` option, I thought that time won't be written to the output file. Let me doublecheck and turn it on as default if what you said is true. thanks.

[2020-02-17 15:31] hainm commented on #1517
thanks @pindakaas42  for keeping report the issues and I really appreciate.

Would you mind posting a toy files so I can try (pytraj has very extensive testing for those kind of stuff but it might miss something like you are pointing out).

[2020-02-17 15:34] hainm commented on #1450
hi @Manish315: The error means that the pytraj (python 2.7) is still in PYTHONPATH in your python 3.7 environment. If that happened,  I guess you did `source amber.sh` (or so on) in your .bashrc (for example) so it will be auto-executed.

Can you please `echo $PYHONPATH` to doublecheck and might then do `export PYTHONPATH=""` to exclude the python 2.7 path? cheers.

[2020-02-17 15:39] hainm commented on #1517
[code]

[2020-02-17 16:02] pindakaas42 commented on #1517
Hey, thanks for the responses. Your load_tz2_ortho() uses TrajectoryIterator, so the bug would not show up anyway, but even if I use
`tr = Trajectory( pt.datafiles.load_tz2_ortho()) `
I can't recreate the problem, this works thoug:
[code]
outputs:
[code]
while
`pt.distance(mask=':1 :2', traj=tr)`
returns
[code]
If it helps I can also give you some sample files but I hope this also helps. The way t

[2020-02-17 16:07] hainm commented on #1517
thanks. I can reproduce your issue if creating `Trajectory` directly like you pointed out. It is ok if the traj comes from `pytraj.load`

[code]

[2020-02-17 16:07] hainm commented on #1517
The difference here is that the unitcells is missing in the "nan" case.

[code]

[2020-02-18 02:46] Manish315 commented on #1450
It worked out. Earlier it was linking to my python 2.7 PYTHONPATH. After exporting the new PYTHONPATH in bashrc, pytraj is working fine.

Thanks for your quick response.

[2020-02-18 05:23] hainm commented on #1450
great.

[2020-02-18 05:23] #1450 closed

[2020-02-18 13:18] khoroshyy opened #1518 "pt.closest with dtype='trajectory' takes forever to run"
Hi.
I am trying to select waters closest to a residue
sym_wat = pt.closest(sym, mask=':66', n_solvents=10)
Thai command runs fine, but if I want a trajectory output it takes forever. It does not matter if I have 10 frames or 500. The system has about 1000 water molecules.
sym_wat = pt.closest(sym, mask=':66', n_solvents=10,dtype='trajectory')
Any hints on it?
Thanks.

[2020-02-18 14:05] drroe commented on #1518
One general way to debug things in pytraj is to run the same calculation in cpptraj if possible. This will help determine if the issue is with the underlying cpptraj code or with the python interface.

[2020-02-18 14:41] khoroshyy commented on #1518
Hi.
That came in my mind to, It works flawlessly with cpptraj.
%%file 01-autoimage.in
parm 03-cerulean.parm7
trajin 010-cerulean_md_wat_NTP.nc
autoimage :66
closest 10 :66 outprefix strip parmout 03-cerulean_closest.parm7
trajout 010-cerulean_md_wat_NTP_ai.nc
run

I may switch to cpptraj for some things, but I would like to avoid it. As I don't want to have different versions of trajectories  save

[2020-02-18 15:57] hainm commented on #1518
I don't see the issue with my testing systems. Do you have any toy files so I can test? thanks.

Please see the usage here:
https://github.com/Amber-MD/pytraj/blob/61cb9d23e294e771f6d60b74877fffa99dfc1ffc/tests/test_analysis/test_closest.py#L28

[2020-02-18 15:58] hainm commented on #1518
The reason the generator object is default is to avoid out of memory for big trajectory.

[2020-02-18 16:57] Manish315 opened #1519 "Plotting of parameters obtained from Nastruct and Multidihedral"
Hi,

I am new to Pytraj and was going through its various tutorials. Came across 2 commands which are pretty helpful for analysis of nucleic acids trajectories : **nastruct** and **multidihedral**. To get an idea of how the intra and inter- base pair parameters (or dihedral angles) vary for each residue with time, I am saving the data in dataframe format (pandas) and then convert and save it as a

[2020-02-18 17:11] hainm commented on #1519
hi @Manish315 `pytraj`'s aim is to give the user the raw output (e.g: in numpy array format) and it's up to user to handle it. I suggest to learn python to get used to `pandas` because `pandas` has many cool features.

[2020-02-19 03:00] Manish315 commented on #1519
Ok...thanks for the heads up.

[2020-02-19 09:26] pindakaas42 commented on #1517
So that's a bug right? I

[2020-02-19 09:40] pindakaas42 opened #1520 "slicing of pt.TrajectoryIterator traj[:-1] creates MemoryError"
The title says it all. This operation works with pt.Trajectory. I don't see why an object like TrajectoryIterator, which has a length should have a problem with this.
PS:
Also the traj[2::] for example causes this same error.
Same for traj[::2].

Since traj.iterframe works fine and returns an object, that I would guess is used internally to iterate over the Trajectory Iterator anyway this should b

[2020-02-19 09:48] pindakaas42 opened #1521 "pt.Trajectory does not load file lists"
This feature was discussed here before. Quoting from the documentation under https://amber-md.github.io/pytraj/latest/_api/pytraj.html#pytraj.Trajectory says:

This does not load a list of files. Watching my ram fill up I would say the class loads each trajectory in turn,overwriting the last one in the RAM.

Version: pytraj-2.0.5-py2.7-linux-x86_64.egg/

[2020-02-19 09:58] khoroshyy commented on #1518
Thanks.

[2020-02-19 10:17] pindakaas42 commented on #1520
Okay this appears to be a result of the fact that a pt.Trajectory is created in this process and thus all out of memory would be loaded into RAM, is this necessary? Could the indexing not just return, what would basically be a frame iterator, so out of memory, wrapped in a TrajectoryIterator object?

[2020-02-19 14:01] hainm commented on #1520
You can try:

`traj(start,stop,stride)` (if I remember correctly) or `pytraj.iterframe`.

Using `[ ]` to return in-memory traj is intentional design.

Please read further here:

https://amber-md.github.io/pytraj/latest/trajectory_exercise.html

[2020-02-19 14:07] hainm commented on #1517
Yes, that’s a bug.

[2020-02-19 14:16] pindakaas42 commented on #1520
Okay, but why would I need an indexed trajectory to become loaded into memory? If I want that I would have loaded it into memory right? It's your design choice obviously, it just confused me and it's a pretty heavy side effect that most people won't be expecting from simple indexing.

[2020-02-19 14:28] hainm commented on #1520
simple indexing.

You are quite subjective when saying “most people” here.

The design was chosen so both on-disk and in-memory have similar API. It
also made the implementation easier.

For example, pytraj has this syntax

traj[[1, 3]][‘@CA’] for both types of trajectories. If it follows your
idea, it’s harder to implement.

On Wed, Feb 19, 2020 at 9:16 AM pindakaas42 <notifications@github.com>
w

[2020-02-19 16:22] hainm commented on #1521
thanks. It was poorly designed for `Trajectory`. All the loading should be done from `pytraj.load`.

[2020-02-19 16:30] pindakaas42 commented on #1521
why not just use pt.load inside the Trajectory __init__ ? this way you dont need to change the Interfact of Trajectory right?

[2020-02-19 16:47] pindakaas42 commented on #1520
Wouldn't it be more consistent to expect the "out of memory" object to stay that way unless I take a very explicit action?

Unless you'd like to discuss software design here I won't bore you with my opinions on this matter further It's you library after all.

[2020-02-19 17:58] hainm commented on #1520
Yes, that's what I really wanted to do but I did not know how to implement it when I first started. I am open to the idea of "how to do it right", especially when you want to index the trajectory with arbitrary array, like `traj[[1, 5, 4]]`

[2020-02-19 18:01] hainm commented on #1521
yeah, might be a good idea. I did not care much about this originally because I am expecting that user to use `pytraj.load` to get the `Trajectory`. This class is more convenient if you want to create it from memory, something like `Trajectory(xyz=, top=)`.

I bet there are still many corner cases in pytraj  and I want to thank you to dig them up.

[2020-02-20 12:25] Manish315 commented on #1519
Hi Hai,

Sorry for pestering you again. Thanks to your suggestions, I have been able to plot dihedral angles distribution as histogram and KDE plots. Having a little trouble here..couldn't figure out how to plot similar histogram distribution of **base pair** or **base pair ste**p parameters like stretch, stagger, shift, slide etc. on pytraj or cpptraj. Could you please give me some idea on how to

[2020-02-21 05:52] hainm commented on #1519
uhm, what do you mean? Do you mean you don't know how to get the raw data from pytraj or you don't know how to plot it? What's the difference between dihedral angles distribution and basepair distribution?

[2020-02-21 06:40] Manish315 commented on #1519
Hi Hai,

By dihedral angles distributions, I meant the distribution of various dihedral angles present in nucleic acids like alpha, beta, gamma, delta, epsilon, delta and chi for individual nucleotides across the frames. Here is an example of how I plotted it for chi dihedral, after loading the trajectory:

_# Obtaining only CHI dihedral angle as dataframe type
chi = pt.calc_chin(traj, resrange='1

[2020-02-21 15:42] hainm commented on #1519
hi, you can get the raw data via `data.stagger`. It returns a tuple of basepairs and the raw value.

For example: `data.minor[1][0]` (which is a numpy array) has corresponding data for the basepair `data.minor[0][0]`
[code]

You can google how to convert a numpy array to pandas's Dataframe and then you can do the same thing just like the `chi` histogram above. Cheers.

[2020-02-22 07:42] Manish315 commented on #1519
Thanks a lot for dumbing it out for me. Should have figured it out myself.
Anyways, thanks for all the help.

Regards
Manish

[2020-02-24 10:32] pindakaas42 commented on #1520
I am using this class now, I would like to make it return Trajectory iterators not Frame iterators, but I am not familiar with how your integration of cpptraj works so this is an extremely suboptimal solution, also it has not been tested a lot.
This is probably not the right place so forgive me, but could you point me towards any literature on how you integrated cpptraj into python?
I would really

[2020-02-24 15:01] Manish315 commented on #1519
Hi Hai,

Did what you told and could get the desired graphs for one of my systems. In a separate system, when I try to print data.pucker/data.major/data.minor- it turns out to be fine. But, if i try to print any of the other nupars keys like data.stagger in this case, I get the following error:
![Screenshot from 2020-02-24 20-20-02](https://user-images.githubusercontent.com/61136923/75162348-6c529

[2020-02-24 17:27] hainm commented on #1519
hi @Manish315, sounds like it's a bug. I will investigate it. Thanks.

[2020-02-24 17:35] hainm commented on #1520
hi @pindakaas42  thanks for your code.

Please see this file:
[ ] - https://github.com/Amber-MD/pytraj/blob/master/pytraj/trajectory/c_traj/c_trajectory.pyx#L284
This is where the `__getitem__` is implemented.
[ ] - https://github.com/Amber-MD/pytraj/tree/master/tests/test_trajectory

(pay attention to https://github.com/Amber-MD/pytraj/blob/master/tests/test_trajectory/test_fancy_indexing.py)

Th

[2020-02-25 13:14] ecederstrand opened #1522 "Record install requirements"
What are the 3rd party package requirements of this package? in setup.py, there is no `install_requires` entry, but I see 3rd party packages referenced in code.

If all 3rd-party packages are optional, and it's undesirable to require then all in the default install, then it's possible to add an `extras_require` entry listing one or more install profiles and their requirements allowing to e.g. `pip

[2020-02-25 14:18] hainm commented on #1522
Hi, the only thing pytraj needs is numpy and I assume user has it (who is using python without numpy?). So I don’t list it there. :d

[2020-02-25 14:18] hainm commented on #1522
Hi, the only thing pytraj needs is numpy and I assume user has it (who is using python without numpy?). So I don’t list it there. :d

[2020-02-25 14:19] hainm commented on #1522
Thanks for your suggestions.

[2020-02-25 14:23] pindakaas42 commented on #1520
I was talking more about generally if you

[2020-02-26 09:10] ecederstrand commented on #1522
I think of documentaing requirements as a service to my end users and contributors. Your end users may be students or scientists trying out Python for the first time, contributors like me trying to contribute infrastructure issues, it could be script written by a sysadmin to automate creation of Python development environments, or it could be automated CI pipelines using this package indirectly.

[2020-02-26 10:21] ecederstrand commented on #1522
As for test requirements, I see at least `tqdm`, `traitlets`, `IPython`, `mpi4py`, `pytest`, `cclib`, `pysander`, `ipywidgets`, `nglview`, and `ipykernel` needed to run the full test suite.

There's a weird check here which I think is redundant: https://github.com/Amber-MD/pytraj/blob/b59963af9b12ba8aca472b7a482342e587097bfb/tests/test_io/test_io.py#L18

In addition to `numpy`, `libmagic` seems to

[2020-02-26 15:38] hainm commented on #1522
thanks. Points taken. By the way, there was the time (few years ago) that there were still packages that could not installed via pip (but conda).

[2020-02-29 05:48] Manish315 commented on #1519
Hi Hai,

Could you please let me know how long will it take to solve this bug? Cause, I am kinda stuck here... Unable to analyze nucleic acid base parameters.

Thanks for all the help.

Best Regards
Manish

[2020-02-29 06:14] hainm commented on #1519
Do you have a file example to reproduce the bug? It's fine with my testing system.

You can change the dtype to `cpptraj_dataset` like below

[code]

[2020-03-02 10:53] Manish315 commented on #1519
Hi Hai,

Sorry for the delay in reply. Was on a vacation and couldn't get back to you quickly. Attached below is an example file containing the system which shows the bug. The tar file contains the .nc as well as .prmtop files. To reproduce the error, just type the following in any python script/notebook:

[code]

`data.stagger`

ValueError                                Traceback (most recent cal

[2020-03-05 18:21] Manish315 commented on #1519
Hi Hai,

Any updates on the reason for the bug?

Thanks
Manish

[2020-03-05 19:04] hainm commented on #1519
I don't have a chance to look at it yet. I am quite busy with my daily work now. I am sorry.
Please see my comment above for alternative code.

[2020-03-11 09:57] pindakaas42 opened #1525 "Toplogy.residue() is broken"
[code]
In my estimation these both should return True right? Anyway `list(p.top[':26'].residues)[0].index`  as well as  `p.top.residue(25).index` return 36. This is not a problem of this specific pdb (as far as I can see).

[2020-03-11 20:25] hainm commented on #1525
yeah, agree. The `index` is a misleading name. It should be `original_index`.
https://github.com/Amber-MD/pytraj/blob/6f91b6debd1e69a99de99d7ceeb661d5eea1a740/pytraj/core/topology_objects.pyx#L223-L226

pytraj needs to cleanup.

[2020-03-12 10:06] pindakaas42 commented on #1525
But what does original resid mean in this context?
Because index in this case, correctly returns the residue id as defined by the pdb, while` p.top.residue(k)` interprets the number k as the k-th residue entry in the pdb file, which pretty useless, as the sequence in the file is pretty much irrelevant.

So I would say the index property is working, as I would expect, the top.residue() method is th

[2020-04-02 14:34] dafwb opened #1526 "dssp kills kernel in Jupyter notebook"
Hello,

I am using pytraj 2.0.2 in a Python3 environment in Jupyter notebook with Python 3.7. pt.load, pt. align and pt.save work fine, but pt.dssp leads to the error: "The kernel appears to have died. It will restart automatically."
Do you have any idea, what the kernel die?

best,
Daniel

Edit: The problem only occurs, when I use trajectories loaded out of pdbs

[2020-04-02 22:48] AbdulmalekSaadeddin commented on #1526
try uninstalling/installing this single library (ipykernel).

[2020-04-03 02:39] hainm commented on #1526
hi @dafwb: may be your pdb file causes segmentation fault when running dssp analysis.
Can you please try your command in terminal to see what happens?

Similar issue: https://github.com/Amber-MD/pytraj/issues/1443

[2020-04-03 12:41] dafwb commented on #1526
Hello,

I tried it in my terminal and got a segmentation gault (I am sorry, that my system is in German):

pytraj.Trajectory, 1 frames:
Size: 0.000184 (GB)
<Topology: 8237 atoms, 504 residues, 0 mols, PBC with box type = ortho>

Speicherzugriffsfehler (Speicherabzug geschrieben)

But i think, the problem is the pt.load() command, because my pdb contains one molecule and somehow the trajectory cont

[2020-04-03 16:36] hainm commented on #1526
Thanks Daniel for your report.

[2020-04-10 01:04] craldaz opened #1527 "carving closest solvent"
When I carve the closest solvent for a trajectory the resulting carved trajectory is very strange. Essentially large chunks of solvent fly off.

I think this is because the closest function has a reference with respect to the initial frame. However, even if I save the frames individually and reload them separately, the same result occurs.

How can I carve the closest n solvent for all frames of th

[2020-04-10 14:33] hainm commented on #1527
hi @craldaz, can you please try `cpptraj` directly to see if the issue still exists?
Or can you please post your toy trajectory with similar issue so we can reproduce it?

[2020-04-10 21:26] craldaz commented on #1527
Hi @hainm , cpptraj worked! Thanks

[2020-04-14 17:21] #1522 closed

[2020-04-15 16:50] slochower opened #1528 "Pointers needed for slicing trajectory and topology together"
I'm trying to slice my trajectory (by frames) and my topology (by residues). I know there's some trickery here in the bookkeeping and I think I'm getting tripped up. Here's an example of what I want to do:

Let's say I slice my trajectory so that it only contains lipids by choosing an atom that only appears in the lipids and I keep track of the residue indices as I go along:

[code]

Then I do som

[2020-04-15 18:06] hainm commented on #1528
hi @slochower, you can try `res.index`, which is the original index (zero based index).
https://github.com/Amber-MD/pytraj/blob/be334e0e98cd141f542a7a6de42751fd18b55a86/pytraj/core/topology_objects.pyx#L223-L226

PS: I am considering to rename it from `index` to `original_index`.

[2020-04-15 18:07] hainm commented on #1528
Oh, please use `original_resid`

https://github.com/Amber-MD/pytraj/blob/be334e0e98cd141f542a7a6de42751fd18b55a86/pytraj/core/topology_objects.pyx#L216-L221

[2020-04-15 18:08] hainm commented on #1528
1-based index to be consistent with `cpptraj`. (that I introduced `index` for 0-based).

[2020-04-16 04:39] hainm commented on #1525
The use case is here: #1528

It's helpful to others.
`p.top.residue(25)` is similar to `list(p.top.residues)[25]`.
Due to the implementation detail in `pytraj` and `cpptraj`, `p.top.residues` won't return a list of residues but a generator.

Use case: Saying you cut a segment from residue 100-120. It's just easier for someone like me to think about 1st residue, 2nd residue in the segment rather th

[2020-04-16 06:24] pindakaas42 commented on #1525
I don't follow, If I want to select the residue with the resid 25 what should I do in my example?
The API does not give me the possiblity, I'd have to iterate over all residues and compare .index to the one I'd like to select...

[2020-04-16 06:56] ecederstrand commented on #1508
With #1516, this is just waiting for a new release of pytraj to PyPI :-)

[2020-04-16 14:00] hainm commented on #1525
Please note that `pytraj` (and its C++ backend cpptraj) is not designed specifically for handle pdb file. It's for Amber simulation where the the residues always renumbered. So if you want to get residue with resid 25, it's `p.top.residue(25)`.

Biopython seems to be better tool to deal with pdb.

[2020-04-16 14:18] pindakaas42 commented on #1525
Okay I have come t

[2020-04-20 09:08] ecederstrand commented on #1508
Hi @hainm Would you be able to cut a new release of pytraj and upload new packages to PyPI?

[2020-04-20 14:16] hainm commented on #1508
hi @ecederstrand, I am waiting for AmberTools to be released (soon) to get the final version of `cpptraj`.

[2020-04-20 19:43] slochower commented on #1528
Thanks @hainm. Hmm, I think I understand but perhaps I'm not implementing your idea correctly. Here's a super quick example:

[code]
Then:

[code]
Now, I expect that when I go back to the original, un-sliced trajectory, I should be able to use these `resid`s, right?

[code]

But that atom count isn't correct for POPC. (I don't know how to interrogate the residue names of `traj[":2"]` directly.) It

[2020-04-20 20:23] hainm commented on #1528
ah,
`original_resid` is 1-based and Amber residue selection syntax is 1-based too.
So `traj[":2"]` should be `traj[":1"]`. In other words, you can use `res.original_resid` directly

`traj[res.original_resid]`

[2020-04-20 20:24] hainm commented on #1528
[code]

[2020-04-20 20:48] slochower commented on #1528
Ah, oops, my mistake. But I still don't think I'm getting the right selection.

`traj.top[":1"]` grabs something with 7 atoms, but I expect there to be 134 atoms.

![image](https://user-images.githubusercontent.com/5393995/79798201-80fb7c80-830d-11ea-8885-d15d8dcc85b4.png)

How does `traj.top[":1"]` handle chains? Is it supposed to grab residue 1 in each chain?

[2020-04-20 21:15] hainm commented on #1528
@slochower `pytraj` is `cpptraj` under the hood.
So please see here: https://github.com/Amber-MD/cpptraj/pull/548

What the residue name in your example?
[code]

[2020-04-20 21:38] slochower commented on #1528
I think this is the crux of the issue that I'm encountering: the sliced trajectory is showing a mapping from "1" to POP (a lipid) but the full trajectory maps "1" to PRO.

![image](https://user-images.githubusercontent.com/5393995/79802306-91fbbc00-8314-11ea-8311-2012e2ef7656.png)

[2020-04-20 22:08] hainm commented on #1528
do you mind to share a toy system so I can test it myself?
Or can you reproduce your issue with the system in here? http://ambermd.org/tutorials/advanced/tutorial16/

[2020-04-20 23:09] hainm commented on #1528
My guess the issue is due to your pdb file. Does residue starts with 1 and are residue number continuous? `traj.top[':1']` means 1st residue.

[2020-04-20 23:13] slochower commented on #1528
I'll try to reproduce it with a toy example or prune down this system, but might take me a couple of days. Thanks for continuing to think about this.

I agree this might be explained by the PDB file. I started taking a look and noticed there were a bunch of different chains in ways that I didn't quite expect (protein, ligands, water). This trajectory was setup with Maestro and run with Desmond, so

[2020-04-20 23:20] hainm commented on #1528
Yeah, but please try again with standard Amber files (in my previous post) to see if you can reproduce the issue (I've tried and pytraj seems work fine).

[2020-04-20 23:40] slochower commented on #1528
Do you know of any mechanism to take a CMS/DTR pair and transform them to `prmtop`/`nc` to make using `pytraj` with Desmond-produced trajectories easier?

[2020-04-21 01:10] hainm commented on #1528
Unfortunately I don't know for sure.

May be try to use `parmed`o convert `cms` to pdb file that preserver the atom order in dtr.
Something like this: https://github.com/arose/nglview/blob/e95a816161eb619de33e291e896ad24965b9f69d/nglview/adaptor.py#L565-L580

`cpptraj` recently adds support for `dtr` directly (https://github.com/Amber-MD/cpptraj/pull/796) but I am not sure if this format is widely

[2020-04-21 06:40] ecederstrand commented on #1508
Cool. Thanks!

I apologize for my eagerness. I'm maintaining a JupyterHub installation with almost 700 Python packages, and this is the last one missing Python 3.8 support :-)

[2020-04-22 09:24] ecederstrand commented on #1508
@hainm What is the current procedure to build a pip wheel from pytraj source? I'm reading https://github.com/Amber-MD/pytraj/blob/master/DEVELOPMENT.md but build_pip.sh has been moved to the "deprecated" folder: https://github.com/hainm/pytraj-build-box/tree/master/deprecated so I'm wondering if the instructions are outdated.

I tried to run build_pip.sh anyway but it calls https://github.com/Ambe

[2020-04-22 14:57] hainm commented on #1508
@ecederstrand
For release, I will run this script on my mac:
https://github.com/Amber-MD/pytraj/blob/master/devtools/builder/build_all.sh

The script will build releases for both pip and conda and for both linux and macos.

Yes. conda is used to create different python versions.

The build script uses the python version in `/opt/python/<python tag>` folder. But that image does not python 3.8 yet.

[2020-04-23 00:48] slochower commented on #1528
I took a look at the `nglview` code and I'm not sure I understand clearly what's happening since there's a couple layers of subclassing `Structure` (which is an nlgview `Structure` and not a ParmEd one, I believe). Do you know if this line is trying to parse the contents of the `cms` file as a string? https://github.com/arose/nglview/blob/e95a816161eb619de33e291e896ad24965b9f69d/nglview/adaptor.py

[2020-04-23 12:37] ecederstrand commented on #1508
Thanks for the pointers! I'll give it a go and let you know.

I very much understand that daily work and family take priority over open source work :-)

[2020-04-23 18:08] hainm commented on #1508
Cool, thanks. Let me know if you  have any further questions.

[2020-04-23 18:14] hainm commented on #1528
oh sorry. Do you have schrodinger suite to load the cms file?
That's the only way I can think of

[code]

[2020-04-24 21:30] slochower commented on #1528
Ah, yes. Sorry for not clarifying. Thanks, Hai.

After minor edits, your script works (I had to figure out how to install ParmEd into the $SCHRODINGER `virtualenv` and change `write` to `write_pdb`). When using a recent-ish `cpptraj` from GitHub, I get a disagreement in atom numbers between the PDB and DTR. Do you think this is due to virtual sites? (Also, do you reckon that `renumber=False` needs

[2020-04-24 23:19] hainm commented on #1528
yeah, I think so.

I don't think so.

[2020-04-28 18:16] slochower commented on #1528
Hm. Instead of using the above script (https://github.com/Amber-MD/pytraj/issues/1528#issuecomment-618563438) to covert to a PDB, I tried using `$SCHRODINGER/utilities/structconvert`. In this case, `cpptraj` can't read the topology from the PDB file:
[code]

So I think this is my summary:
- I can use another tool (e.g., VMD) to take Desmond trajectories to a PDB/DCD combo, but because of nonstanda

[2020-04-30 05:58] c56pony opened #1531 "Problem with bonded_indices() method of pytraj.Atom class."
When I executed the bonded_indices() method of the pytraj.Atom class,
I got the following error.

[code]

python: 3.8.1
cpptraj: V4.26.2 (GitHub)
pytraj: 2.0.5.dev0

[2020-04-30 14:08] #1531 closed

[2020-05-04 07:31] ecederstrand commented on #1508
I can't see traces of the 2.0.5 release here on GitHub, but I have confirmed that the Python 3.8 packages for 2.0.5 on PyPI work for us. Thanks for all your hard work!

[2020-05-04 09:15] ecederstrand commented on #1508
Hmm, I must have messed up my test somehow. There are only OS X packages for 3.8 on PyPI.

[2020-05-04 09:43] ecederstrand commented on #1508
With the slight change in https://github.com/ecederstrand/pytraj/commit/881b4478ae9048813a0790391279350c505d518f, I was able to build binary packages without the Docker image, using the standard `build_ext bdist_wheel` command:

[code]

[2020-05-04 14:13] hainm commented on #1508
yeah, there are only wheels for python 3.5, 3.6, 3.7 for linux for now.

There was no issue with building *original* wheel for pytraj in any system
(it means you don't need docker image at all).

The only issue here is that `pytraj` needs `auditwheel` to repair the *original* wheel so the resulted wheel can be used in most of the linux distro. And that needs to be done in an old linux distro (`pyt

[2020-05-25 16:13] #1527 closed

[2020-05-26 03:30] #1514 closed

[2020-05-26 03:32] hainm commented on #1514
hi @wwilla7, this issued is fixed in #1537. Thanks again for your report.

[2020-05-26 03:41] wwilla7 commented on #1514
Hi @hainm, thanks!

[2020-05-26 04:46] hainm commented on #1494
hi @RMeli

- Per the original issue (https://github.com/Amber-MD/pytraj/issues/1494#issue-521671281)
It's due to pytraj's inconsistent API between on-disk and on-memory trajecotry. For the on-disk one, the `traj.strip` will return a new trajectory object but not (impossible) to update its internal data. The original aim of the `strip` is for visualization in `nglview` (https://github.com/Amber-MD/

[2020-05-26 04:48] hainm commented on #1511
fixed in #1538

[code]

Thanks @pindakaas42 for your report.

[2020-05-26 04:49] #1511 closed

[2020-05-26 05:50] hainm commented on #1528
I close this issue since the original issue is resolved. The later issue is tracked (closed) in here: https://github.com/Amber-MD/cpptraj/issues/815

Feel free to open new issue. Cheers.

[2020-05-26 05:51] hainm commented on #1525
Close this issue since `pytraj` is for trajectory analysis, not for handling pdb file specifically.

[2020-05-26 05:53] hainm commented on #1507
hi @khoroshyy: Are you still interested in this issue? If not, I can close this case. Cheers.

[2020-05-26 06:30] RMeli commented on #1494
Hi @hainm, thank you for the fixes and for letting me know!

[2020-05-26 08:04] khoroshyy commented on #1507
Let me make an example trajectory and I will upload it.

On Tue, May 26, 2020, 7:53 AM Hai Nguyen <notifications@github.com> wrote:

[2020-05-26 14:46] drroe commented on #1525
Hi,

I know I'm a little late to this discussion, but maybe I can clear some things up. In cpptraj (and throughout Amber in general) when we say "residue number", we're really referring to "residue index", i.e. the residue's position in the topology. This is is different then residue the residue number in a PDB file, which is really a label (and done so that it is easier to compare the same residu

[2020-05-26 14:51] drroe commented on #1528
Hi,

Sorry for the late reply. Someone else had this issue recently, and found that Schrodinger tools couldn't make a PDB that would work with the DTR file (I think it did in fact have to do with cirtual sites), but VMD could. So maybe try to make the PDB with VMD and use that.

Adding support for CMS is possible but my to-do list is already a bit out of control...

[2020-05-26 14:52] drroe commented on #1528
If you want to go by the "original" residue number you should use `:;` instead of `:`.

[2020-05-26 22:56] slochower commented on #1528
👋That was me too. I should have circled back around to this issue and linked that one here. This hyperlink should do the trick:  https://github.com/Amber-MD/cpptraj/issues/815

Got it. CMS seems like it'll be a pain to work with.

[2020-05-26 22:56] slochower commented on #1528
Interesting! I didn't know this trick. Thanks.

[2020-06-02 03:18] hainm commented on #1525
Cool. Thanks @drroe.

[2020-06-02 03:18] #1525 closed

[2020-06-02 03:19] hainm commented on #1528
We can close this issue now. Thanks all for the discussion.

[2020-06-02 03:19] #1528 closed

[2020-06-02 03:22] hainm commented on #1495
Thanks @RMeli  for your detail report. The issue is fixed (hopefully) in #1539
(https://github.com/Amber-MD/pytraj/pull/1539/files#diff-a763fc00fcaac2bc07716b5027d5dbed)

It's clearly due to my inexperience with C++'s pointer. :D

[2020-06-02 03:22] #1495 closed

[2020-06-02 04:13] hainm commented on #1443
@drroe I've opened a new issue in cpptraj here: https://github.com/Amber-MD/cpptraj/issues/819

[2020-06-02 04:24] hainm commented on #1520
I go ahead closing this issue since I won't able to make the change due to my limitation in designing the API.  Thanks @pindakaas42 for your suggestion.

[2020-06-02 04:24] #1520 closed

[2020-06-02 04:25] hainm commented on #1526
I've opened a new issue in cpptraj repo too: https://github.com/Amber-MD/cpptraj/issues/819

[2020-06-02 20:00] drroe commented on #1443
Will be addressed by https://github.com/Amber-MD/cpptraj/pull/820.

@hectormartinezdev note that cpptraj (and hence pytraj) isn't set up to handle PDB files where the ATOM serial #s are out of order (like in `bad_pocket.txt`). You should sort by ATOM serial # (via e.g. `sort -g -k 2`) before using that with cpptraj/pytraj.

[2020-06-02 22:17] RMeli commented on #1495
Thank you for the fix @hainm !

[2020-06-03 02:09] drroe commented on #1443
Behavior should be corrected now.

[2020-06-03 03:36] hainm commented on #1443
I confirm the issue is fixed with cpptraj (and pytraj) in master branch. I can close this issue now. Thanks @drroe.

[2020-06-03 03:36] #1443 closed

[2020-06-03 03:37] hainm commented on #1526
The issue is fixed in cpptraj (https://github.com/Amber-MD/cpptraj/pull/820). User don't need to use `start_new_mol` anymore. Thanks @dafwb again.

[2020-06-03 03:37] #1526 closed

[2020-06-16 20:16] hl2500 opened #1542 "Import Issue"
Good afternoon, I recently installed pytraj via conda and was trying to import it in a python file, but I got the following error:

[code]

Seems like there is a conflict between the python2.7 packages which come with amber and python3.7 that I 'm trying to use. How can I solve this problem? Thank you!

[2020-06-17 00:32] hainm commented on #1542
hi @hl2500, make sure to unset the PYTYHONPATH (point to `/home/progs/amber16/lib/python2.7/`) and try again. e.g: python3 your_script.py

[2020-06-17 01:39] hl2500 commented on #1542
Thank you! I set the PYTHONPATH to python3. Since I'm also using MMPBSA.py with amber, would this influence the usage of amber python packages?

[2020-06-17 15:04] hainm commented on #1542
@hl2500 is there any reason you don't want to use `pytraj` in amber itself? (the one in /home/progs/amber16/lib/python2.7/site-packages/pytraj/)

[2020-06-17 15:30] hl2500 commented on #1542
I wrote a script with python3 using pytraj to analyze the trajectory. I wasn't sure if python3 is compatible with pytraj under the python2.7 directory, so I installed pytraj package for python3. Are they compatible with each other? If so, I think I can uninstall the one for python3.

[2020-06-17 15:51] hainm commented on #1542
@hl2500 Uhm, why don't you just build amber with python 3 then?

[2020-06-17 15:51] hainm commented on #1542
By the way, you can use different terminals with different python versions. I don't see any issue with that.

[2020-06-17 17:49] hl2500 commented on #1542
Okay, thank you for the suggestion! The amber was built many years ago. I may have to rebuild it.

[2020-06-17 17:49] #1542 closed

[2020-06-18 00:44] hainm commented on #1542
FYI: If you just need AmberTools, you can install it via conda too from conda-forge channel.

[2020-07-30 14:30] Manish315 opened #1544 "Modified bases Analysis"
Hi Hai,

Is there any way to extract base-pair parameters using *nastruct* command for a nucleic acid sequence containing custom bases like Formyl Cytosine, Hydroxyl Cytosine, or Methyl Cytosine? Or do I have to manually make changes in the 4 files as suggested by Daniel Roe here:

http://archive.ambermd.org/201602/0387.html

Regards
Manish

[2020-07-31 02:56] hainm commented on #1544
hi @Manish315, can you please try the latest release with `resmap` option?
https://github.com/Amber-MD/pytraj/blob/66e181535900dbac6befb357302a3bf8f6c6ceb3/pytraj/analysis/nucleic_acid_analysis.py#L44

I beleived @drroe added `resmap` a while ago for `cpptraj`.

[2020-07-31 04:09] Manish315 commented on #1544
Hi @hainm,

Thanks a lot for the quick response. `resmap` option in the `nastruct` command did the job.

Regards
Manish

[2020-07-31 04:09] #1544 closed

[2020-07-31 21:07] markperri opened #1545 "Trajectory mask with only solvent molecules?"
I have a box of just water (using NAMD) and want to display the water molecules within a certain radius of one of the water molecules.  I'm using pytraj with nglview in a Jupyter notebook.  If I use:

`mask = ':50<:100.0'`
`print (traj[mask])`
`view3 = nv.show_pytraj(traj[mask])`
`view3`

The result is:
`pytraj.Trajectory, 1000 frames: `
`Size: 0.000067 (GB)`
`<Topology: 3 atoms, 1 residues, 1 mol

[2020-08-03 03:08] hainm commented on #1545
There is a non-easy way to do it, but your system's topology would change since the number of atoms will be changed from frame to frame (you're asking to extract ANY atoms within 100A from `:50`

Are you sure if that's helpful for your analysis?

[2020-08-03 03:13] hainm commented on #1545
Please try this code. The code will generate new `n_frames` trajectories.

[code]

[2020-08-03 04:49] markperri commented on #1545
Thanks, that works!
Mark

[2020-08-03 04:49] #1545 closed

[2020-08-08 22:00] ZihanChen1995 opened #1546 "Question about use Jupyter notebook remotely"
Hi! Thank you so much for this handy and great library. I just read your instruction: [use Jupyter notebook remotely](https://amber-md.github.io/pytraj/latest/tutorials/remote_jupyter_notebook). It works perfectly on my laptop and server. However, I meet a question when I try to change the directory of my workspace. May I ask why this happens?

***
Here are some details:

1. Firstly, I just follow

[2020-08-10 15:01] hainm commented on #1546
hi @ZihanChen1995: Can you try to use `ps ux` in both local and server to see if you still need to `kill` some processes? I can not think of any reason besides that.

[2020-08-10 16:28] ZihanChen1995 commented on #1546
Hi @hainm Thank you for your reply. I've figured this out. This is because `ssh -N -f -L localhost:8888:localhost:8889 username@your_remote_host_name` map the Jupyter Notebook from host 8888 to 8889 on the server, but `Jupyter Notebook stop` only kills the process on port 8888. Hence `lsof -ti:8888 | xargs kill -9` doesn't work. To slove this I just `jupyter notebook stop 8889` instead, once `jupy

[2020-08-10 16:28] #1546 closed

[2020-08-19 21:43] markperri commented on #1508
Is there a package for python3.8 available?  I'd like to upgrade Jupyter Notebook, but they're on 3.8 now.

[2020-08-20 02:19] hainm commented on #1508
hi @markperri: unfortunately there is no wheel 3.8 for Linux (macs does).

However, you can install ambertools from conda-forge that includes `pytraj`.

[code]

[2020-08-20 02:28] markperri commented on #1508
@hainm Thanks! I didn't realize there was a conda package.  That will make life simpler.
Thanks,
Mark

[2020-09-09 13:27] 01-ForestGump opened #1548 "pytraj.analysis.rmsd.rmsd is not working : calculating rmsd without fitting"
rmsd_data = rm(traj, ref=i, mask='@C,N,O', nofit = False)
It seems that the nofit = True/False is returning same RMSD.

This is my code :

import pytraj as pt
from pytraj.all_actions import rmsd as rm
from pytraj import matrix
import pandas as pd
df = pd.DataFrame()
traj = pt.iterload("md.trj", "../system/4ey5.wet.complex.prmtop")

list1 = [0, 500]
for i in list1:
    **### rmsd_data = rm(traj, re

[2020-09-09 14:26] 01-ForestGump commented on #1548
rmsd_data = rm(traj, ref=i, mask='@C,N,O', nofit = False)
It seems that the  nofit = True/False is returning same RMSD.

[2020-09-09 15:31] hainm commented on #1548
@01-ForestGump I am not sure about your system, but the `nofit=True/False` works well with the test system.
Please try this:

[code]

[2020-09-09 15:32] hainm commented on #1548
Note that if your trajectory is mutable and if you used `nofit=False` first, the trajectory coordinates would be updated, after that using `nofit=True/False` does not make sense.

[2020-09-09 15:33] hainm commented on #1548
In other words, `rmsd` command has side effect, it does the rms calculation with fitting and also mutate the trajectory.

[2020-09-09 15:34] hainm commented on #1548
To avoid the side effect, use `update_coordinate=False`

[2020-09-09 16:23] 01-ForestGump commented on #1548
Thanks for your help and quick response.
It seems that I was starting ref=0 which should be instead started from one.
Now calculation is running correctly

[2020-09-09 16:26] hainm commented on #1548
Glad to help. Cheers.

[2020-09-09 16:26] #1548 closed

[2020-09-21 20:17] hainm opened #1549 "macos: fatal error: 'ios' file not found"
Work around: `CFLAGS='-stdlib=libc++' python3 setup.py build_ext`

[2020-09-24 02:18] #1518 closed

[2020-09-24 02:21] hainm commented on #1507
Since I have not heard from @khoroshyy yet, I go ahead closing this case. Thanks.

[2020-09-24 02:21] #1507 closed

[2020-09-24 02:23] hainm commented on #1500
Close this case since there's no further interest (?).

[2020-09-24 02:23] #1500 closed

[2020-09-24 02:24] hainm commented on #1404
I am too lazy.

[2020-09-24 02:24] #1404 closed

[2020-09-24 02:37] hainm commented on #1498
We can close the case now. Thanks @RMeli again.

[2020-09-24 02:37] #1498 closed

[2020-09-24 14:21] hainm commented on #1499
`cpptraj` already has it but `pytraj` does not support it yet.

[2020-09-24 15:08] hainm commented on #1517
fixed in https://github.com/Amber-MD/pytraj/pull/1551

[code]

Thanks @pindakaas42.

[2020-09-24 15:08] #1517 closed

[2020-09-24 15:11] hainm commented on #1512
[x] TrajectoryIterator: boolean index arraylike does not work -> Fixed in #1551

[code]

[2020-09-24 15:12] hainm commented on #1512
@pindakaas42 What's your usage?

[2020-09-24 15:13] hainm commented on #1521
Fixed in #1551

[code]

Thanks @pindakaas42

[2020-09-24 15:13] #1521 closed

[2020-09-24 15:40] drroe commented on #1499
Just to clarify, this can be done via cpptraj using the `previous` keyword for the `rmsd` command (in conjunction with the `perres` etc keywords).

[2020-09-24 20:11] pindakaas42 commented on #1512
Use cases are many, one example:
I have a series of trajectories, that I want to filter for a certain state to be present, and then save them. Sometimes some of these need to be empty because the state is not there, this is easy to do if the interface is consistent (like the numpy behaviour) and it gives an empty trajectory if the boolean array is all False.

[2020-09-24 20:15] pindakaas42 commented on #1512
Bascially: if I can index it

[2020-09-24 20:16] pindakaas42 commented on #1512
sorry miss clicked

[2020-09-24 20:17] hainm commented on #1512
Do you have any code around so I can look?

[2020-09-24 21:39] hainm commented on #1512
uhm, so do you mean that you prefer to have this work?
[code]

[2020-09-24 21:46] hainm commented on #1512
Uhm, I am confused here. We do not want to support boolean indexing like that (if that works, it's a bug), current code only support an array of bool values.

For an array
[code]

By the way, I need to see the real code because I have trouble to understand your idea.

[2020-09-25 08:02] pindakaas42 commented on #1512
Hey,
I think giving you an actual excerpt of my code is too much work for me at the moment, as I would have to cut it down to be understandable, I don't want to post 400 plus lines of code here.
Just look at the source code, you are probably using numpy arrays for the coordinates that is why you involuntarily do support boolean indexing from lines 341 to 346 of pytraj/trajectory/trajectory.py:
`

[2020-09-25 09:13] pindakaas42 commented on #1512
Yes I would prefer to have this work, as you see from my post above, pytraj does extra work to break this well defined behavior it "inherits" from numpy.

[2020-09-25 14:17] hainm commented on #1512
Are you sure? Here is an example of passing a boolean ARRAY to an empty numpy array
[code]

[2020-09-25 14:51] pindakaas42 commented on #1512
This is not really my idea as much it is just how numpy handles this.
It works if you remove one pair of brackets `np.array([])[False]` will not throw an error. Although the resulting behavior by numpy is also a bit unintuitive adding a dimension to the array with length 0 every time. So maybe it's not that well defined and consistent.

[2020-09-25 15:05] hainm commented on #1512
Yes, I am aware of that from your original post. That's why I asked what your use case was if you want to use a single boolean value to index (given the fact that you suggested to support `boolean index arraylike`).

[2020-09-25 16:18] pindakaas42 commented on #1512
Sorry I did not express myself well then. We are talking now about the exception is raised, when passing empty arrays as an index to the Trajectory class, and my issue with that exception that I mentioned.
The topic was opened about the fact that  `boolean index arraylike` do work as indices in Trajectory but not in the TrajectoryIterator class. So two different issues basically...

[2020-09-25 16:29] hainm commented on #1512
ok. So I go ahead closing this case since the code is pushed. Please feel free to open another issue if you have further code example. Updating the code is easy, I just want to find out if it's worth the change.

[2020-09-25 16:29] #1512 closed

[2020-09-25 23:14] pindakaas42 commented on #1512
So just that it is clear Trajectory will still take boolean arrays and TrajectoryIterator will not. Changing TrajectoryIterator to have the same interface as numpy arrays should not be hard but it would be some work. It's up to you, I just wanted to raise the issue.

[2020-09-26 05:11] hainm commented on #1512
Uhm, you are confusing me more. I already said the issue is fixed in master branch. TrajectoryIterator is now accepting boolean array.

[2020-09-26 05:13] hainm commented on #1512
It's here: https://github.com/Amber-MD/pytraj/issues/1512#issuecomment-698407587

[2020-09-26 15:03] drroe opened #1552 "Internal Cpptraj Error not counted as test error."
This is a placeholder so I don't forget about it. When running tests, the `test_trajectory_writer` test reports an internal cpptraj error but soldiers on. I'm not sure if this is a real failure or not, but seems like it should be addressed.

[code]

[2020-09-27 00:31] hainm commented on #1552
yeah, the error comes from this line of code: https://github.com/Amber-MD/pytraj/blob/66e181535900dbac6befb357302a3bf8f6c6ceb3/tests/test_trajectory/test_trajectory_writer.py#L16

The filename is empty (https://github.com/Amber-MD/pytraj/blob/30b60f8b05b6f27b07b88a68171a2745b49089ba/pytraj/trajectory/c_traj/c_trajout.pyx#L12).

But I agree that `cpptraj` should raise an error.

[2020-09-28 06:40] pindakaas42 commented on #1512
Sorry for causing more confusion, thanks for taking my feedback into account.

[2020-10-09 11:55] pindakaas42 opened #1553 "pt.compute does not raise error when names appear more then once"
I am often using pt.compute and i noticed that this:
[code]
will not raise an error. But instead print an error message to the screen.

Catching the error on the library site is quite bad because this way pytraj silently fails, without me being alarmed about it.

[2020-10-09 18:01] hainm commented on #1553
I will consider it. Under the hood, above commands are `cpptraj''s commands and `pytraj` just send them directly to `cpptraj` and retrieve the output from `cpptraj`. But you might be right. Let me see if it's easier send the error from C++ to pytraj in this case to raise error earlier.

[2020-10-12 05:15] hainm commented on #1553
fixed in #1554

thanks @pindakaas42

[2020-10-12 05:15] #1553 closed

[2020-10-17 14:56] hainm commented on #1519
hi @Manish315, the bug is fixed in
- https://github.com/Amber-MD/cpptraj/pull/854
- https://github.com/Amber-MD/pytraj/pull/1556

If you would like to try, you have to install pytraj (and cpptraj) from source code: https://amber-md.github.io/pytraj/latest/installation.html#from-source-code-hard-way-expert-only

[2020-10-19 15:47] #1519 closed

[2020-10-19 15:49] #1502 closed

[2020-10-19 15:51] hainm commented on #1515
... when there is no actual time, e.g: writing a bunch of pdb files to .nc format.

[2020-10-21 15:36] #1515 closed

[2020-11-04 07:25] gundelach opened #1557 "Bug: Issue loading trajectory files from path with white spaces"
It appears that pytraj.iterload and pytraj.load have an issue with loading specifically the trajectory file (first argument) when the current working directory contains white spaces in the full path.

If the path to the location in which the trajectory/coord file is located has a white-space, no frames are loaded. If I copy the same file to a location where the path does not have a white-space, th

[2020-11-04 07:53] gundelach commented on #1557
Found this in the ipython errors:
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error: Could not determine trajectory '/Users/lennartgundelach/OneDrive' format.
Error: Co

[2020-11-04 07:54] gundelach commented on #1557
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error during FileIO_Std::Read: Is a directory
Error: Could not determine trajectory '/Users/lg/OneDrive' format.
Error: Could not set up trajectory '/Users/lg/OneDrive -

[2020-11-04 19:31] drroe commented on #1557
It should work if you escape the spaces with a backslash `\`, e.g. (in cpptraj syntax):
[code]
will not work, but
[code]
should.

[2020-11-05 07:54] gundelach commented on #1557
1) If I run ipython from the working directory in which the trajectory file is located, it does not manage to read it but DOES manage to read the topology file in the same directory. The absolute path to the working directory contains white spaces.

traj = pt.iterload('./traj_sparse.crd','./cb7-1.prmtop') #### Loads topology but not trajectory, i.e zero frames  in traj
Error during FileIO_Std::Rea

[2020-11-05 16:15] drroe commented on #1557
@hainm This message indicates the issue is likely with the python layer, not the underlying cpptraj layer.

@gundelach You can test this by trying the following input with cpptraj:

[2020-11-05 17:13] hainm commented on #1557
Yeah, it's because `pytraj` is using `glob` to get a list of files based on the pattern.
https://github.com/Amber-MD/pytraj/blob/66e181535900dbac6befb357302a3bf8f6c6ceb3/pytraj/trajectory/trajectory_iterator.py#L213-L217

[code]

[2020-11-06 08:34] gundelach commented on #1557
@hainm Not sure if this makes a difference, but the issue I'm facing is more so that the absolute path to the file has whitespace, not that the name of the file itself does. But maybe fixing one thing will fix the other.

Thanks all for the responses.

[2020-11-06 18:14] hainm commented on #1557
thanks @gundelach. The fix is in master branch now. #1558

yeah, should be fixed.

[2020-11-08 04:36] hainm commented on #1557
@gundelach
[code]

thank you for reporting the bug.

[2020-11-10 17:15] #1557 closed

[2020-11-18 15:59] tclick opened #1559 "load_MDAnalysis fails"
If I have the following code

[code]
The following exception is thrown:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-71-f17cfb88e9d8> in <module>
----> 1 pt.externals.load_MDAnalysis(u)

~/.conda/envs/python-qaa/lib/python3.8/site-packages/pytraj/externals/load_other_packages.

[2020-11-18 16:22] hainm commented on #1559
hi @tclick: I think most of the methods in `external` is deprecated because there is no point to use them.
(The original aim was to load `.xtc` format via `mdanalysis`, but cpptraj/pytraj can load .xtc natively now).

Please just use `pytraj.load(traj, top)`

[2020-11-18 19:53] tclick commented on #1559
Thank you.

[2020-11-18 20:59] hainm commented on #1559
I go ahead closing this case. Please feel free to open other issues if any. Cheers.

[2020-11-18 20:59] #1559 closed

[2020-12-05 20:36] dylanabramson33 opened #1560 "Matrix Distance not working as expected"
The documentation makes it seem that pytraj.analysis.matrix.dist(trajectory) is supposed to return a tensor with the distance matrix for each frame in the trajectory. When I run it, I only get the distance matrix for the first frame. Is this the expected behavior?

[2020-12-08 15:17] hainm commented on #1560
hi @dylanabramson33, I think the output is the average value of all the frames.

[2020-12-09 16:59] dylanabramson33 commented on #1560
Hi @hainm, okay got it. If I pass in a frame for frame_indices it will output the distances for that frame, right?

[2020-12-09 17:16] hainm commented on #1560
yeah, that seems right.

[2020-12-09 17:21] dylanabramson33 commented on #1560
Great, thanks!

[2020-12-09 17:21] #1560 closed

[2020-12-10 17:39] tuckerburgin opened #1561 "Pipes not properly closing after pytraj.energy_analysis.lie?"
I am trying to use pytraj.energy_analysis.lie to analyze a large number of short trajectory files. After exactly 506 calls to the function, I am consistently met with the following traceback:

[code]

Note that the OS I'm working with has a soft limit on open files set to 1024:

[code]

So perhaps at a rate of two pipes per function call (stderr and stdour) plus a few other files here and there, t

[2020-12-10 19:55] bradakstx opened #1562 "Unfinished implementation of some ptyraj.cluster methods?"
The (admittedly experimental) implementations of dbscan, etc. are not fully functioning and do not return working ClusteringDataset objects. For example the centroid attribute of the object returned by cluster.dbscan() is always None, rather than the expected list/NumPy array.

Were these known to be not fully functioning? If so, are there plans to complete them in the future? Is there a hack way

[2020-12-10 20:25] hainm commented on #1562
hi Brian, I will take a look. Cheers.

[2020-12-10 20:28] hainm commented on #1561
hi @tuckerburgin, it's a known issue. Please try to follow this to turn it off. Cheers.
https://github.com/Amber-MD/pytraj/issues/1498#issuecomment-558360392

[2020-12-10 21:03] tuckerburgin commented on #1561
Aha, I see! Thanks for your help. Silly me, I searched old issues for "pytraj.energy_analysis.lie" but not for just "LIE"!

[2020-12-10 21:04] #1561 closed

[2020-12-10 23:03] hainm commented on #1561
great.

I could not search the old thread either (wrong keyword I guess) so I have to browse the old issues. :D

[2020-12-15 18:08] bradakstx commented on #1562
Thanks. I should probably note that I'm using the version released with AmberTools20 and installed with python 2.7. Any issues there? I also tried with python 3.7 just to be sure.

[2021-01-28 19:40] jyosa opened #1564 "Iteration and selecting by distance"
Hi, I'm trying to select by distance in each frame (every frame change the residues to select by distance), but I could not do this task. The system consist of a solute surrounded by solvent (methanol), it is possible do that with pytraj, because I tried with iteraframe but looks that is not possible. The thing is that for each molecule less than, for example 5 A , I want to perform some calculati

[2021-01-28 21:26] hainm commented on #1564
hi @jyosa

How's about just precaculate the distance array to find the `frame_indices` that satisfy your criteria?

[code]

[2021-01-28 22:08] jyosa commented on #1564
Did not work, but for example for a frame 0

    top = traj.top
    top.set_reference(traj[0])
    selection = traj[':ACE<:5.0|:ACE, NME'][0]

here select all residues less than 5 A and also the  solute, but when I used the iteration id doesn't work

[2021-01-28 22:41] hainm commented on #1564
ok, so I misunderstood your original idea.

May be trying:

[code]

PS1: What are you trying to solve? To get stripped trajectory from the selection?
(that won't work because different frame might have different number of atoms, due to the distance-selection).

[2021-01-29 21:28] patricklawton opened #1565 "issue importing from source installation"
Hello!

I installed pytraj (and thus cpptraj) from source code following the instructions on the pytraj github. When I try to import from a python (3.8.3) shell, though, I get the error pasted below. I made sure that pytraj was not simultaneously installed in my conda environment by running 'conda uninstall pytraj' and I added the path to my pytraj installation to my PYTHONPATH variable, but I sti

[2021-01-29 21:40] hainm commented on #1565
hi @patricklawton, I think you're in the root folder of the source code (`/data/patrick/pkgs/pytraj`) that has `pytraj` folder.

Can you `cd` to another location and try again?

PS: The installed pytraj should be somewhere like:
[code]

[2021-01-29 22:39] patricklawton commented on #1565
I tried importing pytraj while in a different folder (`/home/patrick`) as well as the root folder as you mentioned and received the same error in both locations.

Also, please correct me if I'm wrong, but shouldn't the installed pytraj exist wherever I cloned the pytraj git repo (which in my case is `/data/patrick/pkgs`)? I am no expert in package management but I'm going off [this](https://amber-

[2021-01-29 23:23] hainm commented on #1565
No, it's not right.

You need to run `python setup.py install` as described:

[code]

and you DO NOT need to set PYTHONPATH to the source folder. You have to unset it.
Saying if your have python3 in `$HOME/miniconda3/` path, the installed pytraj (after running the setup command above) will be `$HOME/miniconda3/lib/python3.8/site-packages/pytraj` or something like that.

[2021-01-30 00:57] patricklawton commented on #1565
Thank you Hai, I removed the cpptraj and pytraj directories I had installed and re-installed from source as you suggested. There then exists a folder `/data/patrick/pkgs/miniconda3/lib/python3.8/site-packages/pytraj-2.0.5.dev0-py3.8-linux-x86_64.egg/pytraj` as you suggested I may find.

However, when I try again to import pytraj without changing my PYTHONPATH as you suggest, it appears my system i

[2021-01-30 01:24] hainm commented on #1565
Please try this:

- open a new terminal
- unset PYTHONPATH # to remove any existing path in your .bashrc
- Try:
[code]

Does that work?

[2021-01-30 01:30] patricklawton commented on #1565
The output I get is "<module 'pytraj' from '/data/patrick/pkgs/miniconda3/lib/python3.8/site-packages/pytraj-2.0.5.dev0-py3.8-linux-x86_64.egg/pytraj/__init__.py'>". Which I believe means it "worked"?

[2021-01-30 03:56] hainm commented on #1565
Yes, it did. I bet your original python is not in `/data/patrick/pkgs/miniconda3/bin/`
(try `which python` to see what I mean).

[2021-01-30 04:04] patricklawton commented on #1565
Great, thank you so much for the help! Just to clarify, I think the main issue may have been that my bashrc was automatically setting my python path to look in the directory corresponding to the old version of pytraj on my system. If I open up a new terminal and simply `unset PYTHONPATH` before I try to run python and import pytraj, it works fine and successfully imports my anaconda version. `whic

[2021-01-30 04:04] #1565 closed

[2021-01-30 04:21] hainm commented on #1565
Great, happy analysis.

[2021-02-01 18:12] briza81 opened #1566 "Nan in water coordinates after autoimage"
Hello,

I am observing situation similar to http://archive.ambermd.org/202011/0220.html#start220, water coordinates after autoimage have nan or inf values but no troubles when using cpptraj directly. I have tried with fresh conda env as suggested on the mailing list, unfortunatley without success.  I wonder if there is some difference in environment, like used python version behind this?
Thank you

[2021-02-01 18:21] hainm commented on #1566
hi @briza81
Can you reproduce the issue with our tests data: `tz2.truncoct.{nc,parm7}`
https://github.com/Amber-MD/pytraj/tree/master/tests/data

[2021-02-01 18:29] briza81 commented on #1566
vow super-quick response time :),

yup, have the same problem

pytraj.Trajectory, 2 frames:
Size: 0.000260 (GB)
<Topology: 5827 atoms, 1882 residues, 1870 mols, PBC with box type = truncoct>

[[ -0.04731956   3.25585413  -8.62939644]
 [  0.68805903   3.92066956  -8.43616199]
 [  0.17160061   2.37129807  -8.19381142]
 ...
 [ -1.26814055   4.94501019 -10.27486324]
 [  0.47727728   4.94215965 -10.560

[2021-02-01 18:34] hainm commented on #1566
Thanks. I will investigate this issue.

On Mon, Feb 1, 2021 at 1:29 PM briza81 <notifications@github.com> wrote:

[2021-02-01 19:55] hainm commented on #1566
I can not reproduce the issue. Can you please:

* Show me the exact commands you used

*

My cpptraj version is `'V4.26.3'`
Can you please try with the latest AmberTools

[code]

[2021-02-01 19:57] hainm commented on #1566
<img width="644" alt="Screen Shot 2021-02-01 at 2 57 09 PM" src="https://user-images.githubusercontent.com/4451957/106511106-c7395b00-649d-11eb-867c-474df79777ab.png">

[2021-02-02 10:23] briza81 commented on #1566
Made a fresh conda env as suggested:
`conda create -n at20 python=3.8`
`conda activate at20`
`conda install ambertools -c conda-forge`

surprisingly, ambertools seems to come from pypi rather then conda-forge
`conda list`
`amberlite                 16.0                     pypi_0    pypi`
`ambertools                20.15                    pypi_0    pypi`

cpptraj version is still V4.25.6, sourced

[2021-02-02 11:40] briza81 commented on #1566
just to update, installing from source code(http://amber-md.github.io/pytraj/latest/installation.html#from-source-code-easy-way-linux-osx) I got to pytraj 2.0.5.dev0 equipped with cpptraj V5.0.4. Here, the autoimaging works as expected.

So the trouble seems to be that conda install ambertools -c conda-forge does not deliver pytraj compatible cpptraj for Linux machines.

[2021-02-02 15:04] hainm commented on #1566
thanks @briza81 for your investigation. Yeah, I am using MacOs and you're using Linux in your example.
Can you please check where your libcpptraj is?
[code]

I am suspecting that you have the old `libcpptraj` somewhere.

[2021-02-02 15:10] hainm commented on #1566
Never mind, I can reproduce your issue in a new docker environment to separate the old `libcpptraj` issue.

[2021-02-02 15:23] hainm commented on #1566
My bad. I was using the wrong `pytraj` version (dev version). After switching to the correct `pytraj`, I can see the
[code]

To conclude, there is discrepancy between Linux and MacOs build and I don't know why.
I am glad that installing the dev version resolve your issue. Hopefully this will be really resolved in the next release. Cheers.

[2021-02-02 15:30] briza81 commented on #1566
ok, I can confirm that libcpptraj coming from new ambertools pckg is being used...

What is your estimate on the next release date?
Thank you.

[2021-02-02 16:04] hainm commented on #1566
According to the past releases, it should be around April.

[2021-02-02 22:06] tuckerburgin opened #1567 "pytraj somehow prints output with suppressed stdout and stderr?"
I want pytraj to be quiet, even when something is wrong with the files I give it (I have a use-case for loading files that may be broken in specific ways). For example, when attempting to load an empty trajectory, it complains:

[code]

That's normal, but what I'm surprised by is that even when stdout and stderr have been suppressed, it manages to get through:

[code]

Frankly I'm not even sure ho

[2021-02-02 23:08] hainm commented on #1567
hi @tuckerburgin

Please try `with pytraj.utils.context.capture_stdout()`:
[code]

[2021-02-02 23:09] hainm commented on #1567
Yes, the errors emitted from C++ code in cpptraj. Python does not know how to capture that.

[2021-02-02 23:26] tuckerburgin commented on #1567
Thanks @hainm !

`with pytraj.utils.context.capture_stdout()` works great, and is a much better solution than the workarounds I had been using before. Thanks also for the detail about Python not capturing C++ output.

[2021-02-02 23:26] #1567 closed

[2021-02-03 17:17] hainm opened #1568 "SuppressErrorMsg does not work properly"
https://github.com/Amber-MD/cpptraj/issues/878

[2021-02-04 18:04] jyosa commented on #1564
Hi thank you for your answer, from the selection it is possible also to select each residue? because with this loop I get index for all atoms in the selection, but I got stuck selecting each residue. I want to compute instantaneous dipole moment for each residue in the selection that's my goal. Again thank you!

[2021-02-04 20:53] hainm commented on #1564
hi @jyosa, here is my very naive approach: using the atom indices to get new topology and get the residue information?

[code]

[2021-02-05 16:10] hmayes opened #1569 "Files left open with iterload"
Hello!

Following the suggestion on https://amber-md.github.io/pytraj/latest/tips.html#process-many-files, I switched to using iterload. However, I get warnings about resources remaining open (files not closed). I did not see a method to make this happen. Can you provide a suggestion or new means to allow files opened by pytraj to be closed when their analysis is complete?

Thanks!
-heather

[2021-02-05 16:31] hainm commented on #1569
hi @hmayes,

Can you please me show me the code to reproduce the error? I have not seen this before. Thanks.

[2021-02-05 17:01] hainm commented on #1569
And please post the full warning message too.

[2021-02-05 17:22] briza81 commented on #1566
just a small addon, it seems that the problem is gone when pt.iterload is used in place of pt.load

[2021-02-05 19:00] jyosa commented on #1564
goo thank you is getting better, but when I try to compute center of mass I got this:  TypeError: Argument 'atmask' has incorrect type (expected pytraj.core.c_core.AtomMask, got str)

ini = 0
top = traj.top
for frame in traj:
    top.set_reference(traj[ini])
    indices = traj.top.select(':ACE<:5.0|:ACE, NME')
    residues = [res.original_resid for res in top[indices].residues]
    for l in residu

[2021-02-05 19:10] hainm commented on #1564
It's low level code:

[code]

Or use the API
[code]
https://github.com/Amber-MD/pytraj/blob/8d4f3a759befeca94de6df76d789276e8263b650/pytraj/all_actions.py#L1552

PS: It might be a good idea for pytraj to accept string. Cheers.

[2021-02-06 01:32] hmayes commented on #1569
Thank you for your quick response. I figured out why I get the error and you may not--I develop using intelliJ/Pycharm, which uses the malloc debug tool: https://docs.python.org/3/library/tracemalloc.html

As you can see on that page, you can also explicitly use the debug tool.

With that on, running a very simple script/test, e.g. :
`import pytraj as pt

dcd_file_list = ["test.dcd"]
psf_file_name

[2021-02-06 03:03] hainm commented on #1569
hi @hmayes

The file handling is done at C++ (cpptraj) level and python does not know about that. In my opinion, the warning comes from using this code to capture cpptraj's stdout:
https://github.com/Amber-MD/pytraj/blob/8d4f3a759befeca94de6df76d789276e8263b650/pytraj/analysis/c_action/__init__.py#L26

Please try turning off the capturing by patching that code, see here: https://github.com/Amber-M

[2021-02-06 03:03] hainm commented on #1569
If above solution is correct, then you can safely ignore the warning because it does not relate to open your trajectory files.

[2021-02-06 16:29] hmayes commented on #1569
Instead of capturing all the stdout or stderr, which could discard both that warning and important information and/or desired output, I specifically catch and ignore warnings from the method with the iterload:
`
import pytraj as pt
import warnings

def run_ptraj(dcd_file_list, psf_fname):
    with warnings.catch_warnings():
        warnings.simplefilter("ignore")
        traj = pt.iterload(dcd_fil

[2021-02-08 04:18] hainm commented on #1562
hi @bradakstx : I am sorry to get back late to you. I thought I posted the reply but the message did not go through.

dbscan works fine with my example:

[code]

[2021-02-09 04:14] hainm commented on #1562
thanks @bradakstx  for the detail report. `pytraj` should have done better job in debugging.

[2021-02-09 19:03] hmayes opened #1571 "FYI and two questions/requests"
FYI: an image is not loading correctly on the documentation page, https://amber-md.github.io/pytraj/latest/index.html, under "Try pytraj online" (http://mybinder.org/assets/images/logo.svg)
<img width="326" alt="image" src="https://user-images.githubusercontent.com/13154631/107414024-b48ed980-6ace-11eb-9507-5f97e02c8b7c.png">
The same issue happens here (and perhaps other pages, too): https://ambe

[2021-02-09 21:28] hainm commented on #1571
hi @hmayes again,

Thanks. Noted.

1.

Here is the easiest way given your description. The example is from the docs of `pytraj.iterload`:
[code]

[2021-02-09 21:43] hainm commented on #1571
2.

You can try below code:
[code]

[2021-02-09 21:45] hainm commented on #1571
Per 2: Another suggestion is to use [parmed](https://github.com/ParmEd/ParmEd) to read your psf file and edit anything you want.

Then.

[code]

[2021-02-09 22:00] hmayes commented on #1571
many thanks for all your responses!

On Tue, Feb 9, 2021 at 2:45 PM Hai Nguyen <notifications@github.com> wrote:

[2021-02-10 03:31] hainm commented on #1440
I am not sure if this is useful anymore.

[2021-02-10 03:31] #1440 closed

[2021-02-10 04:05] hherce opened #1572 "mindist stops working when called multiple times"
I am using a for loop to analyze a the minimum distance of a series of individual atoms to a group. I am doing it in the following manner:

[code]

It runs fine until the loop reaches 21 frames (j=21) and gets stuck there. The problem is specifically with pt.mindist. I could stop the calculation and try to run again the distances for j=1 and it wont do it, I need to restart python for mindist to w

[2021-02-10 04:17] hherce commented on #1572
I am almost sure that it is a memory issue, if I reduce the number of atoms in resatoms by half, the loop hangs now in frame 35.

[2021-02-10 04:39] hainm commented on #1572
thanks @hherce  for your report. I can reproduce the issue with below code (to use pytraj's data):

[code]

[2021-02-10 04:40] hainm commented on #1572
I am investigating now.

[2021-02-10 04:41] hherce commented on #1572
Awesome! just let me know if you have any questions.
Thanks!
Henry

From: Hai Nguyen <notifications@github.com>
Sent: Tuesday, February 9, 2021 11:40 PM
To: Amber-MD/pytraj <pytraj@noreply.github.com>
Cc: Herce, Henry D. <Henry_Herce@DFCI.HARVARD.EDU>; Mention <mention@noreply.github.com>
Subject: Re: [Amber-MD/pytraj] mindist stops working when called multiple times (#1572)

        External Emai

[2021-02-10 04:55] hainm commented on #1572
@hherce Please turn off the `capture_stdout`, which is problematic:

[code]

Related issues:
1. https://github.com/Amber-MD/pytraj/issues/1498#issuecomment-558360392
2. https://github.com/Amber-MD/pytraj/issues/1569

[2021-02-10 05:04] hherce commented on #1572
Great! Thanks so much! It seems that is working now and I would have never figured out a way around this.
Thanks again and best regards,
Henry

From: Hai Nguyen <notifications@github.com>
Sent: Tuesday, February 9, 2021 11:55 PM
To: Amber-MD/pytraj <pytraj@noreply.github.com>
Cc: Herce, Henry D. <Henry_Herce@DFCI.HARVARD.EDU>; Mention <mention@noreply.github.com>
Subject: Re: [Amber-MD/pytraj] min

[2021-02-10 05:16] hainm commented on #1498
Should be fixed in #1573. I've run the code 1000 times without any issue. :D

[2021-02-11 15:09] #1572 closed

[2021-02-11 16:37] hainm commented on #1571
Close this issue now. Feel free to open others. Cheers.

[2021-02-11 16:37] #1571 closed

[2021-02-17 12:38] gundelach commented on #1557
Hi, I have recently started using pytraj again, and updated pytraj via conda to version 2.0.5 but the same issue is still present when trying to load files from a directory that has whitespaces in its path.

Working directory:
/Users/gundelach/OneDrive - University of Southampton/QMPBSA2/calculations/BRD4/visualization/mmpbsa_long/trajectories

Code:
traj = pt.load('./trajectories/BRD4-1-no_water.

[2021-02-17 16:53] hainm commented on #1557
hi @gundelach: the fix is still in master branch and it's not released yet.
http://amber-md.github.io/pytraj/latest/installation.html#from-source-code-easy-way-linux-osx

[2021-02-18 08:32] gundelach commented on #1557
Ah, thanks for clarifying, my bad!

[2021-02-19 17:00] IsmaheneMesbah opened #1574 "Error when search for Hbonds"
Hi,

I want to perform H bonds analysis, I am following the tutorial:

`
hbonds = pt.search_hbonds(pdb_file)
hbonds.values
`

I have the following error:

`Traceback (most recent call last):

  File "/Users/macbookair/smd_software/readGromacs.py", line 109, in <module>
    hbonds = pt.search_hbonds(pdb_file)

  File "/opt/anaconda3/lib/python3.8/site-packages/pytraj/utils/decorators.py", line 11,

[2021-02-20 22:56] hainm commented on #1574
Hi

traj = pt.load(pdb_file)
pt.search_hbonds(traj)

[2021-02-22 16:14] IsmaheneMesbah commented on #1574
Thank you very much.

[2021-02-22 16:15] #1574 closed

[2021-02-26 17:08] jyosa commented on #1564
Excellent thank you now it is working

[2021-03-01 04:13] hainm commented on #1564
Great. Happy to close this issue.

[2021-03-01 04:13] #1564 closed

[2021-03-10 14:05] IsmaheneMesbah opened #1576 "H bonds analysis"
Hi,

I have generated a Heatmap representing the number of H bonds vs Frames. I want to track the residue number that the H bond comes from, I have been looking in the doc and I could not find a function that enables that. am I missing something? It is possible to get the residue numbers for each H bond ?

[code]

Thank you.

Best,

[2021-03-10 22:12] hainm commented on #1576
hi @IsmaheneMesbah, you can use `d = hbonds.data.to_dict()`
`1` - Yes
`0` - No
for each frame and each pairs.

[code]

[2021-03-12 11:21] IsmaheneMesbah commented on #1576
Thank you.
Please, How do you give the indexes to the H-bonds? Are these indexes obtained in `hbonds.values ` matrix based on occupancy of the bond?

Thank you

[code]

[2021-03-13 16:58] hainm commented on #1576
Please try my example first then you can understand.

[2021-03-25 02:30] tienmng opened #1578 "search_neighbors"
Hello!

I am wondering if pytraj.search_neighbors considers those distances that are larger than half of the box for pbc?

I have this question because I realized that I have to add "image=True" when using pytraj.distance() for distances to be treated with pbc. Pytraj.search_neighbors doesn't have this argument.

Thank you!

[2021-03-25 19:12] hainm commented on #1578
hi @tienmng: May be trying `autoimage` first before using `search_neighbors`

[2021-03-26 17:45] tienmng commented on #1578
Thanks! I will try autoimage with search_neighbors.

[2021-03-26 17:45] #1578 closed

[2021-05-07 14:16] tuckerburgin opened #1579 "iterload trajectories with one frame don't support negative indexing"
Very minor issue, but hopefully an easy fix.

If you load a trajectory consisting of a single frame with iterload and then try to index it from the right, it throws an error:

[code]

The same thing works fine with in-memory loading:

[code]

Negative index values seem to work just fine on out-of-memory iterload objects with more than one frame.

[2021-05-09 04:53] hainm commented on #1579
Thanks @tuckerburgin for your report. Indeed, it's a bug.

[2021-05-09 04:55] hainm commented on #1569
Fixed in #1573

[2021-05-09 04:55] #1569 closed

[2021-06-03 09:58] d-beltran opened #1580 "RMSD perres ignoring ions"
Hi,

I just found out rmsd_perres is ignoring some ions (not always all ions). Those ions are an independent residue with 1 unique atom each. I can provide a pair of examples to reproduce the error if needed.

And by the way, rmsd_perres always prints this message although it works fine: "Error: Range::SetRange(None): Range is -1 for None"

¿Any ideas?

Thank you for maintaining pytraj :)

[2021-06-03 12:31] hainm commented on #1580
@d-beltran  Please. Thanks.

[2021-06-03 13:38] d-beltran commented on #1580
I attached 2 pdb and 2 xtc trajectory files.

In the first example there is only 1 zinc atom. it is the penultimate residue in the pdb.

Run this code to reproduce the problem:

`import pytraj as pt

pt_trajectory = pt.iterload('test.xtc', 'test.pdb')
rmsds = pt.rmsd_perres(pt_trajectory)

# Print last 3 residues in topology
topology_residues = list(pt_trajectory.topology.residues)
for residue in

[2021-06-08 02:48] hainm commented on #1580
hi @d-beltran: I will look at the issue but I don't think I can resolve this soon. Just want to let you know. Thanks for your files. Cheers.

[2021-06-08 08:32] d-beltran commented on #1580
Sure. No problem.
Thank you @hainm :)

[2021-09-15 04:40] hainm opened #1581 "darwin_major table in setup.py is likely outdated"
https://github.com/Amber-MD/pytraj/blob/bbd168addc856f2c649ffffc0331fb73863c78bc/setup.py#L145

related: https://github.com/ParmEd/ParmEd/issues/1193

[2021-10-08 19:27] TianmingQu opened #1582 "Convert dcd and pdb to .np and .parm7 file"
Dear all,
How can I convert the dcd and pdb file to the .np and .parm7 file I need to use in pytraj?

[2021-10-12 20:11] TianmingQu commented on #1582
Thanks! So then I can follow the instructions to do pca analysis with this dcd file directly, is this correct?

[2021-10-13 00:21] hai-schrodinger commented on #1582
I don't think so. Alternatively, you can use `mdanalysis` or `mdtraj` to see if they can.

[2021-11-16 15:17] igordub opened #1586 "mass-weighted PCA: Eigenvalue Dimension and Descending Order"
Hi, there

I've performed carbon-alpha PCA analysis on my simulations data using `pytraj.pca` function.
I'm only interested in the resulting eigenvalues, but they don't appear in the format I expect them to be:
[code]
First of all, the values are of a too-large magnitude. Secondly, the eigenvalues are decreasing with the mode number.
In `pytraj` PCA tutorial ([here](https://amber-md.github.io/pytr

[2021-11-17 08:00] igordub opened #1587 "Atom mask selection not working for TrajectoryIterator"
Hello,

I'm trying to load trajectories without water into memory using [this](https://github.com/Amber-MD/pytraj/blob/master/examples/example_strip_solvent.py) example.

When I attempt to mask water the program runs forever until I interrupt it and the following error message occur:
[code]

Package versions:
[code]

Thanks

[2021-11-18 14:18] hainm commented on #1587
hi @igordub Can you please post your code?

[2021-11-18 14:19] hainm commented on #1586
hi @igordub  I need to double check. Cheers.

[2021-11-22 12:13] igordub commented on #1587
@hainm my apologies,
Everything works fine! I didn't wait long enough for water to strip, considering the large number of frames I have.

[2021-11-22 12:13] #1587 closed

[2021-11-23 19:55] hainm commented on #1586
hi @igordub again, if you change `mwcovar` keyword to `covar`, you should get the same results between cpptraj and pytraj.

1D array with len = n_vecs

`pytraj` does not support yet.

cpptraj gives order too if using `covar`. Please see the the attached output from `cpptraj`. I am using our toy `tz2.nc`, `tz2.parm7 system, change 'mwcovar` to `covar` keyword  and change `vecs 1197` to `vecs 5`

[e

[2021-11-23 20:19] hainm commented on #1586
[pca_mw.txt](https://github.com/Amber-MD/pytraj/files/7590796/pca_mw.txt)

@igordub Please use the `pca_mw` function in attached file. It should give you exact output from cpptraj.
(You need to rename `.txt` -> `.py`)

[2021-11-24 08:45] igordub commented on #1586
@hainm Thank you for your time!

`pca_mw` does the job! It will make my analysis all in Pyhton and more coherent.

Regarding dimensions:
Actually, I meant physical dimensions/units. In the [manual](https://amberhub.chpc.utah.edu/diagmatrix/) states:

Now, when mass-weighting is applied in `pca_mw`, these are the units. I guess the choice of units determines the actual magnitude of the eigenvalue.

[2021-11-24 08:45] #1586 closed

[2021-11-24 08:52] igordub commented on #1586
Just noticed a little issue with `pca_wmw`.

When using `n_vencs=-1` option to print all eigenvalues, 6 unphysical eigenvalues appear at the end of the array.
At the moment, I'm solving this by specifying the total number of the real eigenvalues.

[2021-12-10 04:27] 1heman opened #1588 "A question about pytraj.align"
Hi,
thanks to [making-it-rain](https://github.com/pablo-arantes/making-it-rain), I have been introduced to AmberTools and pytraj.
Prior to this, I have been a GROMACS user.

Unlike GROMACS, where we have to perform 2 operations on the trajectory namely centering and fitting, there seems to be only one here: `pytraj.align`.

I am particularly not sure how accurate this function is. I have been simu

[2021-12-10 04:32] 1heman commented on #1588
I think this is better put in the discussion section!

[2021-12-10 04:32] #1588 closed

[2021-12-28 20:39] hl2500 opened #1591 "Not Compatible with Python >3.8?"
Hello,
I was trying to install Pytraj with conda on M1 Mac, but it seemed pytraj would only be compatible with python version <3.8. However, M1 Mac can only install python > 3.8. Is there a way I can still install pytraj? Thank you!

[2022-01-03 16:50] hainm commented on #1591
hi @hl2500: You can install `pytraj` by one of the following:
- Install `AmberTools`:  `conda install -c conda-forge ambertools=21 compilers`
(See `Option 2: Binary distribution via conda` in https://ambermd.org/GetAmber.php)
- Install from source code: https://amber-md.github.io/pytraj/latest/installation.html#from-source-code-easy-way-linux-osx

Let me know if you have any further issue. Cheers.

[2022-01-03 20:57] hl2500 commented on #1591
Thank you for the suggestion!
I tried the first option, but ambertools package was not available from the channels of miniforge (arm64).
I also tried the second one, it worked.

[2022-01-05 03:25] hl2500 commented on #1591
Can I ask if I need to keep the source code cloned from github after the installation?

[2022-01-05 15:32] hai-schrodinger commented on #1591
You don't need the source code but you do need the `libcpptraj` in `pytraj/cpptraj/lib` folder.

[2022-01-05 17:43] hainm commented on #1591
Why didn't you try the `conda-forge` channel in the command I showed?

[2022-01-05 17:47] hl2500 commented on #1591
I was using that command, but it said:
[code]

[2022-01-05 18:00] hainm commented on #1591
I see. There is an work-in-progress to build AmberTools for this arch too: https://github.com/conda-forge/ambertools-feedstock/issues/77

[2022-01-05 18:12] hl2500 commented on #1591
Thank you so much for the information! Hopefully it will be available soon.

[2022-01-06 21:31] TianmingQu opened #1592 "Print out the PCs in PCA results"
Hi, I am trying to save the PCA results (saved in "data") into a text file, I use the np.savetxt() but some error comes out, could someone help me with this?

  (File "/Users/TMQ/venv/lib/python3.8/site-packages/numpy/lib/npyio.py", line 1375, in savetxt
    raise ValueError('fname must be a string or file handle')
ValueError: fname must be a string or file handle)

[2022-01-11 00:38] hainm commented on #1592
numpy.savetxt(“your_filename.txt”, data)

Is that your command-like?

[2022-01-11 17:06] hainm commented on #1592
This indicates your arguments were in the wrong order.

[2022-01-12 21:04] markperri opened #1593 "Using masks with numeric residues?"
I'm trying to select a residue in my trajectory (loaded from NAMD). I have numeric residue names and I think it's causing problems using masks. Is there a way around this?  Maybe renaming the residue from 000 to AAA or iterating through all atoms and checking their residue names?

[code]

[code]

python version: 3.9
pytraj version: 2.0.5

Thanks,
Mark

[2022-01-12 21:33] markperri commented on #1593
Is this a reasonable workaround?

[code]

[2022-01-12 21:59] TianmingQu opened #1594 "What does the data print out from command pt.matrix.dist(traj,'@CA') represent?"

[2022-01-12 22:00] TianmingQu commented on #1594
the data length equals to the number of CA atoms in the pdb file, i am confused about what these data represent?

[2022-01-12 22:20] hainm commented on #1593
yeah, seems right. Please double check of `first_atom_index` and `last_atom_index` is 0 or 1-based (e.g: use first residue to get the atom numbers). Cheers.

[2022-01-12 22:40] hainm commented on #1594
Hi, per @drroe explained: `The values are the average distance between the given atom pair over all frames.`

http://archive.ambermd.org/201406/0073.html

[2022-01-12 23:46] drroe commented on #1593
The way you would do it with cpptraj (the backend for pytraj) would be to prepend the digits with a backslash to differentiate it from a residue number. So something like:
[code]
should work, although if the mask given to `select()`  isn't passed directly to the cpptraj mask parser it's conceivable this still might not work.

[2022-01-13 00:25] markperri commented on #1593
Thanks, but it doesn't seem the \ is working at the start of a string (possibly python thinks it's null or something)

[code]

[code]
 leads to kernel dying in a Jupyter Notebook.

[code]

[code]
works fine

[2022-01-13 00:29] drroe commented on #1593
@markperri if the topology isn't too big can you attach it here so we can test with it? Thanks.

[2022-01-13 04:00] hainm commented on #1593
@drroe

I can reproduce the issue with below pdb file:

[code]

[2022-01-13 04:03] hainm commented on #1593
@markperri  using `\\` does help in my test (ipython)
[code]

[2022-01-13 05:22] markperri commented on #1593
@hainm weird!  I wonder what's different about mine.  The kernel just dies, with no error messages in the log except for:
[I 2022-01-13 04:56:20.255 SingleUserNotebookApp restarter:110] KernelRestarter: restarting kernel (1/5), keep random ports

I'm using Ipython 7.25.0 if that makes a difference.

[code]

It won't let me upload a .psf, .dcd, or .zip, but here's a paste:

https://paste.c-net.org/

[2022-01-13 16:56] hainm commented on #1593
looks fine to me

![image](https://user-images.githubusercontent.com/4451957/149374038-131bef52-ba96-4329-8e66-335e0b4bb922.png)

[2022-01-13 17:15] markperri commented on #1593
Do you think it's something to do with python 3.9.5?  I ran it in the shell to get the error message:

$ python
Python 3.9.5 | packaged by conda-forge | (default, Jun 19 2021, 00:32:32)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

<Topology: 2442 atoms, 804 residues, 804 mols, non-PBC>

terminate called after throwing an instance of 'BadConversion'

[2022-01-13 17:19] hainm commented on #1593
yeah I think so. Let me try with 3.9

[2022-01-13 17:55] hainm commented on #1593
@markperri

python 3.9 is fine too. I am using my macos.

![image](https://user-images.githubusercontent.com/4451957/149383432-62cda6eb-ccbc-4d72-a978-66a00a810a68.png)

[2022-01-13 19:27] #1581 closed

[2022-01-13 21:44] hainm commented on #1593
@markperri I can reproduce your issue with python 3.9 in Linux (from conda-forge)

[code]

[2022-01-13 21:47] hainm commented on #1593
Weird, if you put the code in a script, saying 'my.py', and run `python3 my.py`, it would be fine.

[2022-01-13 22:33] markperri commented on #1593
So it's something about how an interactive shell treats strings then?  I don't know enough to help with that, but I tried adding b and various encoding, but couldn't find anything that worked.

[2022-01-18 21:40] #1592 closed

[2022-01-18 21:40] #1582 closed

[2022-01-18 21:42] #1566 closed

[2022-01-19 03:52] #1594 closed

[2022-01-19 21:16] hainm commented on #1579
Should be fixed in https://github.com/Amber-MD/pytraj/pull/1597. Thanks @tuckerburgin very much.

[2022-01-19 22:32] #1579 closed

[2022-02-04 03:19] #1591 closed

[2022-02-04 03:19] #1576 closed

[2022-02-10 16:51] hainm opened #1599 "Add multipucker action"
https://github.com/Amber-MD/cpptraj/pull/902

[2022-02-10 16:53] hainm opened #1600 "dihedralrms"
https://github.com/Amber-MD/cpptraj/pull/736

[2022-03-06 00:51] swettrj opened #1601 "Reporting issue as installer requests"
A fresh install of Anaconda was used to install pytraj. Hit an error asking to install cython. Following install of cython, this error occurred
   warnings.warn("darwin_major_to_osx_map needs to be updated! Report this issue if build fails.")
NameError: name 'warnings' is not defined

[2022-03-07 16:17] hainm commented on #1601
and it seems like you're trying to install from source code. Can you please try to delete a line in setup.py?
https://github.com/Amber-MD/pytraj/blob/21e4f0fbcead41d9c632dc5f1fc1db08822459c4/setup.py#L164

[2022-03-13 20:01] hainm commented on #1549
too old issue.

[2022-03-13 20:01] #1549 closed

[2022-03-17 15:27] sbkoby23 opened #1604 "Error in output when writing to .rst7 file"
Hello,

I am trying to write a single frame to a .rst7 format and am getting several weird issues. I am attempting to run the following commands:
import pytraj as pt
traj =  pt.load('complex0.rst7', 'complex0.prm7')
traj.save('complex_t.rst7', overwrite=True)

First of all, the output is saved as 'complex_t.rst7.1'. Second, the last line of the output file which specifies the box parameters is inc

[2022-03-21 17:13] Juliyan96 commented on #1450
I am also face with the same situation and I have added the amber.sh to the .bashrc script. Should I be changing the PYTHONPATH in the amber.sh or in a separate line in the .bashrc file? And what should be the end folder for the PYTHONPATH if I'm changing it to Python version 3.4 from 2.7?

[2022-03-28 14:08] thepoole opened #1605 "Energy analysis with PBSA"
When using the pytraj.esander for pbsa calculations (i.e., igb=10, or with mm_options, ipb>0), the second time it runs there is a memory allocation error leading to a total crash.

I provide here a minimum example using the test trajectory.

`import pytraj as pt
from pytraj.testing import get_fn
import sander

## Sander options
options = sander.gas_input(8)
options.igb = 0
options.ipb = 2

## Exam

[2022-03-28 14:17] thepoole opened #1606 "Error with derived trajectories"
When using trajectories modified by strip or append, I get errors for later analysis (e.g. dssp, sander, pca) due to some type mismatch. This can be worked around either by using a deep-copy or saving and loading the trajectory to file.

Here is a snippet of code you can use for and example, in this case I have a dictionary of trajectories but this setup should work with any trajectory constructed

[2022-03-30 18:32] hainm commented on #1606
Thank you @thepoole for your report.

[2022-03-30 18:33] hainm commented on #1605
Thanks @thepoole for your report.

[2022-04-03 02:41] hainm commented on #1605
hi @thepoole
I already replied to you in the maillist but this is for the record:

[code]

[2022-04-05 15:51] JoeGardner000 opened #1607 "Several vulnerabilities in the C library which pytraj depends on. Could you help upgrade to patch versions?"
Hi, @hainm , @swails , I'd like to report a vulnerability issue in **pytraj_2.0.5**.
### Dependency Graph between Python and Shared Libraries
![image](https://user-images.githubusercontent.com/103017573/161764010-2cb67513-cc81-4d31-837c-59dc6dce89c5.png)
### Issue Description
As shown in the above dependency graph (Here shows part of the dependency graph, which depends on vulnerable shared librari

[2022-04-11 16:17] hainm commented on #1607
I have no idea what you are talking about and your account is quite new. So I close this issue.

[2022-04-12 15:35] swails commented on #1607
CVEs are [tracked vulnerabilities](https://cve.mitre.org/) in commonly used software.  Three of them affect shared libraries that pytraj currently links to/brings in (@JoeGardner000 I assume this is conda-forge?  PyPI?  What repository are you talking about?).

It would be best to rebuild the binary pytraj distribution to link to newer versions of the libraries (should just require minting a new b

[2022-04-27 16:18] JoeGardner000 commented on #1607
@swails , thanks for your help.

I download pytraj from PyPI repository.

Best regards,
Joe Gardner

[2022-05-02 15:48] shalkya opened #1609 "autoimage too many open files"
I have a script that goes over a lot of dynamics, make autoimage, and write a pdb files for each frames. This script crash every ~500 dynamics (=25000 frames), due to a `Too many open files` error with autoimage. The script launched without autoimage, doesn't crash.

[code]
Only this part of the script lead to a crash (without autoimage it works fine)

[code]

Is there a way to deal with this issu

[2022-05-02 22:18] shalkya commented on #1609
I am using pytraj 2.0.5

[2022-05-02 23:07] hainm commented on #1609
Please try this

https://github.com/Amber-MD/pytraj/issues/1498#issuecomment-558360392

[2022-05-03 07:20] shalkya commented on #1609
This work around does work, thank you.

[2022-05-03 07:20] #1609 closed

[2022-05-20 16:54] Seanny123 commented on #1508
You could try using [`cibuildwheels`](https://github.com/pypa/cibuildwheel) to build the wheels automatically for all supported Python versions for each release. This is what [MDAnalysis is trying to do](https://github.com/MDAnalysis/mdanalysis/issues/1300#issuecomment-1077902172), so maybe talk to them if you want to adopt it for this project.

[2022-05-20 16:58] hainm commented on #1508
Thank you very much.

Hai

On Fri, May 20, 2022 at 12:54 PM Sean Aubin ***@***.***>
wrote:

[2022-05-26 18:01] tuckerburgin commented on #1604
Ah, I was just about to write a new issue of my own for exactly this problem (the errant 0 in the box line).

In my case the correct output is:

But I'm getting:

That is to say, this isn't a matter of the leading '9' being cut off in your case, it really is being set to zero.

I'm not sure when this started to be an issue but I know for sure it hasn't always been; I found this bug after running o

[2022-05-26 18:09] drroe commented on #1604
For the sake of troubleshooting, can you try to run this with cpptraj? E.g.
[code]
or using the input
[code]
and see if you get the same behavior?

[2022-05-26 18:10] hainm commented on #1604
Can you please upload dummy file examples to reproduce?

How did you get pytraj?

[2022-05-26 19:25] tuckerburgin commented on #1604
Passing the broken restart file through cpptraj as suggested did not work (I think that's what you wanted me to do, right?) It gave the following output after trajin:

The output then has the exact same box line as the input (in fact the input and output files are exactly identical).

Sorry for not including files to reproduce with before:

[dummy_files.zip](https://github.com/Amber-MD/pytraj/file

[2022-05-26 22:28] hainm commented on #1604
Dear @tuckerburgin
Thank you for your detail report. I can not reproduce the issue the `pytraj` in `ambertools 22` (via conda install)

Using my macbook:
[code]

So the best workaround is to install ambertools v22 that includes `pytraj`. It's super easy to install ambertools via conda now (https://ambermd.org/GetAmber.php)
[code]
PS: I don't have time to make a stand alone release for `pytraj` now

[2022-05-26 22:30] hainm commented on #1604
ah, I realized @sbkoby23  and @tuckerburgin are two different persons. I apologize to not reply to @sbkoby23 earlier.

@sbkoby23  Please read my comment above. Thanks.

[2022-05-26 22:35] hainm commented on #1604
- if not using `multi`, all the files will be appended into a single file (I guess).
- If using `multi`, separate files will be written. If having more than 1 frame, we will have more than file, and thus the `.1` is the solution. Can you please use `keepext` option too? https://github.com/Amber-MD/pytraj/blob/3d844a45bbbcee64d7ebfd1902b00cff6a9c9172/tests/test_io/test_write_pdb.py#L67

So the file

[2022-05-27 01:18] #1605 closed

[2022-05-27 12:51] drroe commented on #1604
@tuckerburgin I also cannot reproduce the issue with your files. What version of cpptraj are you using? If possible, can you try the latest GitHub version (6.6.1) and see if the issue persists on your platform?

[2022-05-27 12:55] drroe commented on #1604
So for cpptraj, Amber restart files do not have the `multi` option, because the Amber restart format only supports 1 structure per file. If there is only 1 frame to write, cpptraj does not append the frame number, otherwise it has to in order to keep the files separate. The `keepext` option will make it so that the number comes before the extension, which is useful for programs like VMD which base

[2022-06-22 19:36] gmonet opened #1610 "Reading velocities and forces from trr file"
Hi all,
I'm using pytraj to read trr trajectory files generated with GROMACS :
[code]

I don't know why pytraj is much faster than MDAnalysis but that's why I use pytraj so far. My problem appears when I want to read velocities and forces:
[code]
As you can see, the speeds and forces read by pytraj and MDAnalysis are different. After verification, the velocities given by MDAnalysis are correct.
I

[2022-06-23 01:45] hainm commented on #1610
hi @drroe, can you please comment in this case. Thanks.

[2022-06-23 02:04] hainm commented on #1610
Here are the units in MDAnalysis for TRR: https://github.com/MDAnalysis/mdanalysis/blob/e1c90ae4e3151423bc25ac9a6e111232c6022491/package/MDAnalysis/coordinates/TRR.py#L61-L62

[2022-06-23 02:09] hainm commented on #1610
[code]

From my google-ful: 1 kcal = 4.184 kJ so I guess `cpptraj` is following AMBER suite to use `kcal` unit.

[2022-06-23 02:13] hainm commented on #1610
[code]

Per David A. Case in this post:
https://structbio.vanderbilt.edu/archives/amber-archive/2008/4377.php
[code]

So I guess `pytraj` (cpptraj under the hood) reads the v/f correctly. Cheers.

[2022-06-23 07:45] gmonet commented on #1610
Thanks a lot hainm !
The [documentation ](https://amberhub.chpc.utah.edu/units/) of cpptraj is a bit misleading about the velocity's unit. It might be worth mentioning the units used in the pytraj documentation as well as in the [MDAnalysis documentation](https://userguide.mdanalysis.org/stable/units.html).
Best.

[2022-06-23 07:45] #1610 closed

[2022-08-31 18:47] krlitros87 commented on #1421
I don't know if I should open a new ticket, but Im having the same problem.
Some info:
I installed ambertools via conda as explained here: https://ambermd.org/GetAmber.php
I installed pytraj  pytraj==2.0.6.dev0 doing:
cd pytraj/
python setup.py install

Everything went well, without problems.

But when trying to run wathershell:
shell_anions = pt.pmap(pt.watershell, traj, solute_mask=' :1', solven

[2022-08-31 18:54] hainm commented on #1421
hi @krlitros87: `pytraj` is already included in ambertools so you don't need to install another pytraj.

[2022-08-31 19:05] krlitros87 commented on #1421
Hi @hainm Thanks for your quick reply. I didn't know that (I was following an old tutorial I guess). Anyway, I remove my previous env and did everything again (I didn't install pytraj twice now), but I'm getting the same error

[2022-08-31 19:55] krlitros87 opened #1612 "TypeError: no default __reduce__ due to non-trivial __cinit__ pmap/watershell"
Hi,
Some info:
I installed ambertools via conda as explained here: https://ambermd.org/GetAmber.php
Everything went well, without problems.

But when trying to run wathershell:
shell_anions = pt.pmap(pt.watershell, traj, solute_mask=' :1', solvent_mask=':Cl-', upper=10, image=False,n_cores=4)
I get the following error message:

Traceback (most recent call last):
File "/store1/navarro/PpGLR1/CA/wid

[2022-08-31 20:29] hainm commented on #1612
@krlitros87
- ha, I have never tried with `python3.101`. What's your platform? linux or macos?
- `shell_anions = pt.watershell(traj, solute_mask=' :1', solvent_mask=':Cl-', upper=10, image=False)` -> does this work for you (not using `pmap` parallel)?

[2022-08-31 20:34] krlitros87 commented on #1612
@hainm I'm using python3.10 on linux (Description:	openSUSE Leap 15.3).
Yeah, watershell works fine without using pmap

[2022-08-31 20:42] hainm commented on #1612
For now, please not to use `pmap` since it takes time to debug/fix this issue. Cheers Carlos.

[2022-08-31 20:51] krlitros87 commented on #1612
Thank you @hainm. Do you think this will work on macOS? I don't understand what the problem could be, since this works for most of the people here

[2022-08-31 21:21] krlitros87 commented on #1612
@hainm will it work if I try installing a different version on my env? In any case, I'm downloading everything to my MacBook, so I'll post an update asap

[2022-09-14 12:13] jafarhayat opened #1613 "Having a new error. I tried some solutions but didn't work."
Collecting pytraj
  Downloading pytraj-2.0.5.tar.gz (20.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.3/20.3 MB 96.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [7 lines of output]
      sys.argv ['

[2022-09-16 16:20] hainm commented on #1613
Dear @jafarhayat

I am no longer build pytraj binary wheel for pip install anymore.
Please download AmberTools via conda, which already include `pytraj`.
https://ambermd.org/GetAmber.php#ambertools

Sorry for the inconvenience.

[2022-09-21 18:26] gayatripanda5 opened #1614 "pytraj.pca error"
I am geeting this error "Error: DataSet_Modes: dsaupd returned -9999" while running pytraj.pca for my trajectory. Kindly look into this issue.

[2022-09-23 15:37] hainm commented on #1614
Dear @gayatripanda5: do you get the error if trying with a small chunk of trajectory?

[2022-10-09 21:28] tonyyzy opened #1615 "Mask selection on topology causes memory leak"
[code]
This would lead to crashes by using up all system memory.

On pytraj 2.0.6

[2022-10-09 21:50] tonyyzy commented on #1615
Note that `top.atom(0)` leaks memory as well

[2022-10-11 18:40] krlitros87 opened #1616 "write_traj problem when selecting a mask and specific frames"
Hi, I'm trying to save multiple frames from a trajectory, extracting only a selection (with mask) of atoms/residues
`pt.write_traj('t.pdb',traj,overwrite=True,options='multi',frame_indices=range(0,traj.n_frames,int(traj.n_frames/int(frames))))`
This creates a single pdb file without problems.

But when trying to save only a selection of atoms per file,
`pt.write_traj('t.pdb',traj(mask=(':1-476')),

[2022-10-13 19:16] hainm commented on #1615
Thanks @tonyyzy for your reports. It's been a while seeing you.

[2022-10-13 19:30] hainm commented on #1616
Dear @krlitros87
It's a known bug. Can you please try `pytraj.iterframe` instead?

[code]

[2022-11-14 19:58] hainm commented on #1615
@tonyyzy I think @hichiaty fixed the issue in master branch in #1617

Cheers

[2022-11-15 23:10] tonyyzy commented on #1615
Thanks both! @hainm @hichiaty